%center
  .buttons
    .inline-block= link_to 'No', contact_joe_path, :class => 'btn btn-danger btn-large'
    .inline-block= button_to 'Yes', onboard_next_startup_path, :class => 'btn btn-primary btn-large'