%h1 Getting Started: Can you give us some more info about your startup?
%br
.row
  .span6
    = semantic_form_for @startup, :url => onboard_next_startup_path, :method => :post, :html => {:class => "form-horizontal"} do |f|
      %fieldset
        %legend All information is private.
        = hidden_field_tag 'startup_form', true
        = render "startups/fields", :f => f
        .form-actions.buttons
          = f.submit 'Submit', :class => 'btn btn-primary btn-large'