:plain
  <h1>Okay,</h1>
  <h2>What can our team expect over the next 12 weeks?
  <br>
  <br>
  <h1> 
  1) Accountability &amp; Motivation
  </h1>
  <br>
  When working on a startup it is really easy to get <b>distracted</b>.  Whether it be on "nice to have" features or by working on things that are not essential to the success of your business.  Also, when you are alone and no one is really watching, its okay to take a break, not pull all nighters, etc.  <b>nReduce is designed to keep you accountable / motivated. </b>      
  <br>
  <br>
  <h1>
  2) Community &amp; Support</h1> 
  <br>The other problem with startups is that <b>founding a company is inherently isolating</b>.  While it can be great for productivity, isolation can lead to not getting the crucial feedback / ideas that can help your startup succeed. 
  <br>
  <br>
  We will pair each company with a few other other teams in small groups.  <b>You will share your progress with the other teams in your group online</b> and give each other feedback / support.
  <br>
  <br>
  For local support<b> we have arranged optional local "dinners" in 20 cities</b> around the world.  Each "dinner" is organized by one of our awesome volunteers, who are entreprenuers that are also in nReduce. The local meetings are optional, and if you are traveling feel free to stop by any of them.
  
  <h1>
  <br>
  <h2> 
  <center>Does that make sense?</center>
  
  </h2>
  <br>
  <br>
= render :partial => 'startups/onboard/buttons'