:plain
  <h1>Great!</h1>
  <h2>What do we do each week of nReduce?
  <br>
  <br>
  <h1> 
  1) Set a Goal for the Week.
  </h1>
  <br>
  We believe it is best when teams can come together and decided on a single focus.  We know that this can be difficult, but not doing this can lead to problems in the long term.  If you need help with this process please contact Joe.
  <br>
  <br>
  <h1>
  2) Every Wednesday upload a "Before" video by 12pm PST (GMT -8).</h1> 
  <br>Videos should be no more than 30 seconds. They can be screen captures, shot from mobile phones, anything that really documents what you are starting with. It is great if you can narrate it so that people can better understand your current product.
  <br>
  <br>
  <h1>
  3) The following Tuesday upload an "After" video by 4pm PST (GMT -8).</h1> 
  <br>Videos should be no more than 60 seconds. They can be screen captures, shot from mobile phones, anything that really documents what you built. It is great if you can narrate it so that people can better understand your creation.

  <br><br>
  <br>
  <h2> 
  <center>Does that make sense?</center>

  </h2>
  <br>
  <br>
= render :partial => 'startups/onboard/buttons'