%center
  %br
  %h2 Calling Team #{@startup.name.blank? ? 'Awesome' : @startup.name}...
  %br
  %h1 Are you ready to join 600 other startups and build something amazing?
  %br
  %br
  %br
  .buttons
    = button_to 'START', onboard_next_startup_path, :class => 'btn btn-primary btn-large'