:plain
  <h1>Cool!</h1>
  <h2>How are we going to upload videos?
  <br>
  <br>
  <h1> 
  1) Upload to <a href="http://www.youtube.com">Youtube</a>.
  </h1>

  <img src="/images/upload.png" />
  <br>
  <br>
  <h1>
  2) Set privacy to "Unlisted".</h1>
  <br> 
  <img src="/images/direct.png" />
  <br>
  <br>
  <br>
  <br>
  <h1>
  3) Give us the link.

  <br>
  <br>
  <br>
  <h2> 
  <center>Does that make sense?</center>

  </h2>
  <br>
  <br>
= render :partial => 'startups/onboard/buttons'