:plain
  <h1>Okay..</h1>
  <h2>What are the rules of nReduce?
  <br>
  <br>
  <h1> 
  1) What is private stays private.
  </h1>
  <br>
  When <b>we pair you up in small groups</b>, you will be sharing your progress with each other so that you can give feedback and support.  <b>Anything that is shared </b>in these private groups is <b>expected to stay private</b>.  
  <br>
  <br>
  <b>If this privacy is violated, the violating team will be removed from nReduce.</b>
  <br>
  <br>
  <h1>
  2) You must document your progress.</h1> 
  <br>Every week <b>you must say what you are working on</b> (Wednesday Check-In) and then what the outcome of your work was (Tuesday Check-In).  <b>We don't judge</b> how much progress you make, <b>we provide a way to document your progress</b>.  If you decided to only change the color of a button that week, that is okay as long as you upload a video that says that. But remember, <b>these videos cannot be edited</b>, so if you ever expect to use your nReduce profile to help build a team / get investors, <b>we suggest you work your butts off.</b>
  <br>
  <br>
  <b>If life happens</b> and there is some circumstance that causes you to not be productive that week, please <b>post a video describing why you could not build</b>, ex: "I worked so hard for the past 4 weeks that I collapsed and was hospitalized :)" 
  <br>
  <br>
  <b>If you do not document your progress each week you be removed from nReduce.</b>
  <br>
  <br>
  <br>
  <h1>
  Does your team agree to these rules?
  </h1> 
  <br>
= render :partial => 'startups/onboard/buttons'