%div{:align => 'center'}
= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal', :multipart => true }) do |f|
  = render 'devise/registrations/fields', :f => f