%h2 #{@change_password ? 'Change Password' : 'Sign Up'}
= semantic_form_for(@user, :url => registration_path(@user), :html => { :method => :put }) do |f|
  = render 'devise/registrations/fields', :f => f