%h3 What is nReduce?

%p nReduce is a startup incubator. 
%p We do not take equity and it is free for startups.
%p Startups can join any week and can stay in for as long as they would like to.
%p We accept any startup. 
%p Successful startups gain attention of investors and earn the ability to demo at our monthly nStar Demo Days.

%h3 Who is building this?
%p We are two entrepreneurs who have previously built startups and know how hard it is.
%p What unites us as a team is that we just really like helping founders better execute on their vision.
%p Joe helped start #{link_to('Bootstrappers Anonymous', 'http://www.bootstrappersanonymous.com/', :target => '_blank')} - A weekly group for founders who had not raised capital.
%p Josh was the conductor on the most recent SF #{link_to('StartupBus', 'http://www.startupbus.com/', :target => '_blank')}.

%h3 How long has this been around?
%p The first companies started in nReduce on June 4th 2012.

%h3 How do you make money?
%p We are currently bootstrapping and plan to offer premium accounts.

%h3 What do the press say?
%p
  PandoDaily:
  = link_to 'nReduce is the Pre Angel List', 'http://pandodaily.com/2012/07/27/virtual-incubator-to-all-nreduce-adds-mentors-and-demo-days-is-it-the-pre-angellist/', :target => '_blank'
%p
  VentureBeat:
  = link_to 'nReduce Demo Day Recap', 'http://venturebeat.com/2012/09/05/nreduce-demo-day/', :target => '_blank'

%h3 What about nReduce would help my company?
%p We give you structure to help you execute better each week. 
%p We help you connect with other founders to give and receive weekly feedback.
%p We help you document your ability to execute.
%p We connect you with mentors.
%p We help you passively fundraise.
%p You could get selected to become an nStar.

%h3 What is your demo day like?
%p It is on the first Wednesday of the Month at 11am.
%p Companies are selected by investors. 
%p Winning companies are designated as nStars.
%p It is 100% online.  
%p It is public.
%p Founders answer questions posed by the community.

%h3 What does a week look like in nReduce?
%p On Wednesday before 4pm PST, you set a goal for the week.
%p On the following Tuesday before 4pm PST, you document your progress for the week and discuss any challenges.

%h3 What is it like to join?
%p Every team that joins nReduce does so on Wednesday between 1-2pm PST.
%p You will receive an email at that time admitting you to nReduce.
%p Click on the link in that email and you will meet all the other teams joining that day.
%p Also, Joe will be answering questions in real time.
%p You will end the day with 8 other startups you are connected to and be off an running.