.weekly_classes
  .map
    #world_map


  :javascript
    points = #{@weekly_class.clusters.map{|c| {:num_users => c.user_ids.size, :lat => c.lat, :lng => c.lng, :location => c.location} }.to_json};
    wm = new WorldMap('world_map', points);
    wm.render();