It is Time to Post Your Progress Update\n
\n
You have 24 hours to submit your weekly progress update and set a goal for next week.
\n
\n
Post Update: #{@current_checkin.blank? ? new_checkin_url : edit_checkin_url(@startup.current_checkin)}