Time to Get Back to Work!\n
\n
You have 12 hours to submit your "Before" video (Wed at 4pm PST).\n
\n
The goal of the "Before" video is to support your team in setting a goal for the week. The goals can be anything from improving a feature to doing customer development. The important thing is to accurately document your team's process. 
\n
\n
Submit "Before" Video: #{new_checkin_url}