= render :partial => 'header'
%h1.h1 Time to Get Back to Work!
%br/
%h4 You have 12 hours to submit your "Before" video (Wed at 4pm PST).

%p The goal of the "Before" video is to support your team in setting a goal for the week. The goals can be anything from improving a feature to doing customer development. The important thing is to accurately document your team's process. 
%br/
%h3= link_to('Submit "Before" Video', new_checkin_url)
= render :partial => 'footer'