= render :partial => 'header'
%h1.h1 It's Go Time!
%br/
%h3.h3 Drop what you are doing and post your after video now!
%br
%h1.h1 #{link_to('Post Video Now', new_checkin_url)}
%br/
%p Away from your computer? Record a video on your phone, upload it to Youtube, and then paste in the URL :)
%br/
%br/