= render :partial => 'header'
%h1.h1 It's Go Time!
%br/
%h3.h3 Drop what you are doing, you have 30 minutes to post your weekly update!
%br
%h1.h1 #{link_to('Post Update Now', new_checkin_url)}
%br/
%p Away from your computer? Record a video on your phone, upload it to Youtube, share it via email to get the URL and then paste in the Post Update workflow :)
%br/