It's Go Time!\n
\n
Drop what you are doing, you have 30 minutes to post your after video!
\n
\n
Post Video Now: #{new_checkin_url}
\n
\n
Away from your computer? Record a video on your phone, upload it to Youtube, and then paste in the URL :)