Your Community Status\n
\n
- if @user.rating < 0.25
	#{Startup.community_status[0]}\n
- elsif @user.rating >= 0.25 and @user.rating < 1
	#{Startup.community_status[1]}\n
- elsif @user.rating >= 1
	#{Startup.community_status[2]}\n
\n
We are all a part of building the nReduce community. Each week we support each other and give feedback. In order to encourage engagement we have introduced the community status for all startups and team members.\n
\n
Your rating reflects your prior comment involvement from the first three weeks, and each startup's rating is an aggregate of all team members input. To learn more see the Community Guidelines.\n
\n
\n
View Community Guidelines: #{community_guidelines_url}