Welcome to nReduce\n
\n
#{@invite.startup.name} has listed you as an investor.\n
\n
They would like you to join nReduce to keep you up to date on their progress and get feedback from you.\n
\n
\n
\n
Get Started: #{accept_invite_url(:id => @invite.code)}