Welcome to nReduce\n
\n
Thank you so much for your interest in mentoring!\n
\n
To learn more about the mentorship process, please click the link below.\n
\n
\n
Get Started: #{accept_invite_url(:id => @invite.code)}