= render :partial => 'header'
%p Hi!

%P We saw that you didn't join this week's class of startups in nReduce, would you like to come back for next week?

%p If so, simply #{link_to("join next week's class", join_weekly_class_url(@weekly_class)} and complete your profile.

%p If not, let us know if you have any questions or problems.

%p
  Best,
  %br/
  :plain
    - Joe &amp; Josh