Hi!\n
\n
We sorry that you missed joining this week's class of founders.\n
\n
We had #{pluralize(@stats[:num_startups], 'startup')} startups join\n
\n
From #{pluralize(@stats[:num_industries], 'industry')} industries\n
\n
Around the globe in #{pluralize(@stats[:num_countries], 'country')}.\n
\n
\n
Are you ready for awesomeness? Join this week's class: #{join_weekly_class_url(@weekly_class)}\n
\n
\n
nReduce:\n
Build a better company - Collaborate with founders - Get feedback from mentors and investors\n
\n
Best,\n
\- Joe and Josh