Congratulations, you have a new team!\n
\n
= @connected_with.name
\n
\n
To learn more about them, please view the team's profile.\n
\n
\n
View #{@connected_with.name.possessive} profile: #{polymorphic_url(@connected_with)}