Team #{@checkin.startup.name} has posted their 'after' video for #{@checkin.time_label}!\n
\n
- cc = @user.startup.current_checkin
- if !cc.blank? and !cc.completed?
  Post Your Team's "After" Video: edit_checkin_url(cc)
- else
  Give Feedback & Support: url_for([@checkin.startup, @checkin])