= render :partial => 'header'
%h1.h1 Team #{@checkin.startup.name}
%br
%h4.h4 Posted their "After" Video
%br
%h3.h3= link_to 'Give Feedback & Support', startup_checkin_url(@checkin.startup, @checkin)
= render :partial => 'footer'

Team "Startup Name" Had Joined Your Class!
There are now 26 startups joining with you!
Industry : Startups
Location : Seattle WA