= render :partial => 'header'
%h1.h1 You've been nudged!
%br/
%h4 #{@from.name} is waiting for you to join nReduce so they can give you feedback on your startup.  
%br/
%h3= link_to('Get Started', accept_invite_url(:id => @invite.code))
= render :partial => 'footer'