Team #{@requesting_startup.name} would like to join your group.\n
\n
If accepted you will see each other's weekly progress and be able to help each other succeed.  It is important to build trusted relationships.\n
\n
View Request: #{url_for(relationships_url)}