Congratulations!
\n
\nTeam #{@connected_with.name} is now a part of your group.
\n
\nYou will now be able to share your progress with each other an support each other in this crazy life of changing the world! 
\n
\nView their profile: #{startup_url(@connected_with)}
\n
\nThanks,
\nnReduce