-# Navbar
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/ui/index.html"} Bootstrap
      .nav-collapse
        %ul.nav
          %li{add_class("active", :if => current == "index")}
            %a{:href => "/ui/index.html"} Overview
          %li{add_class("active", :if => current == "scaffolding")}
            %a{:href => "/ui/scaffolding.html"} Scaffolding
          %li{add_class("active", :if => current == "base-css")}
            %a{:href => "/ui/base-css.html"} Base CSS
          %li{add_class("active", :if => current == "components")}
            %a{:href => "/ui/components.html"} Components
          %li{add_class("active", :if => current == "javascript")}
            %a{:href => "/ui/javascript.html"} Javascript plugins
          %li{add_class("active", :if => current == "less")}
            %a{:href => "/ui/less.html"} Using LESS
          %li.divider-vertical
          %li{add_class("active", :if => current == "download")}
            %a{:href => "/ui/download.html"} Customize
          %li{add_class("active", :if => current == "examples")}
            %a{:href => "/ui/examples.html"} Examples
