- @conversation_statuses.each do |cs|
  - conversation = cs.conversation
  - latest_message = @latest_message_by_conversation[conversation.id]
  .details{:class => cs.unread? ? 'new' : '', :rel => url_for(conversation)}
    .right
      .time= time_for_conversation(conversation.updated_at)
    -# If more than two participants show startup logo
    - if conversation.participant_ids.size > 2
      - startup = conversation.startups(current_user.startup_id).first
      - pic = startup.logo_url(:small)
      - name = startup.name
    - else
      - user = latest_message.from
      - pic = user.pic_url(:small)
      - name = conversation.participants(current_user.id).map{|u| u.name }.join(', ')
    .pic.left= image_tag(pic)
    .left
      .names= truncate(name, :length => 26)
      .last_message= truncate(latest_message.content, :length => 32)
    .clear
    