.conversations
  .row
    .span3
      .list_wrapper
        .head
          .right= link_to 'New Message', new_conversation_path, :remote => true, :class => 'btn'
          .left
            %h3 Inbox
          .clear
        .list= render 'conversations/list'
    .span6
      - if @new_message == true
        .conversation= render 'conversations/form', :conversation => @conversation
      - elsif @conversations.blank?
        .conversation You haven't started any conversations yet.
      - else
        = render @conversation.present? ? @conversation : @conversations.first
