.conversations
  .row
    .span2
      .list_wrapper
        .list= render 'conversations/list'
    .span6
      - if @conversations.blank?
        .conversation You haven't started any conversations yet.
      - else
        = render @conversation.present? ? @conversation : @conversations.first

  = link_to 'Start new convo', new_conversation_path(:participant_ids => User.limit(3).order('RAND()').map{|u| u.id } + [current_user.id]), :remote => true