$(".conversation").html("#{escape_javascript(render('conversations/form', :conversation => @conversation))}");

$('#conversation_to').focus();

$('.conversation textarea').autosize();

initializeConversationAutocomplete();