$(".conversation").replaceWith("#{escape_javascript(render('conversations/conversation', :conversation => @conversation))}");

$('.conversation #message_content').focus();

$(".conversations .list #conversation_#{@conversation.id}_details").removeClass('new');

scrollConversationToBottom();