%div{:style => 'margin-top: 20px;'}
  .right
    - if @startup.profile_completeness_percent == 1.0 && current_user.profile_completeness_percent == 1.0 && current_user.startup_id != @startup.id
      = render 'relationships/buttons', :entity => @entity, :connected_with => @startup, :relationship => @relationship
    - else
      %p
  .left
    = link_to '<i class="icon-chevron-left"></i> Back'.html_safe, '#', :onclick => "$('#startup_mini_profile').hide(); $('#startups').show(); return false;", :class => 'btn btn-large'

  .clear
  %hr/
  = render 'startups/profile'

