- content_for :subtitle do
  Edit your startup

%h2 Edit your Startup

.row
  .span12
    = semantic_form_for @startup, :url => '/startup/', :html => {:class => "form-horizontal", :multipart => true} do |f|

      = render "startups/fields", :f => f

      .form-actions
        = f.submit "Save", :class => "btn btn-primary btn-large"
