.row
  .span9
    %h1 Invite Team Members, Mentors & Investors

    = render 'startups/invite_team_members', :hide_title => true

    - if @setup
      %br/
      %br/
      = button_to "Continue", invite_team_members_startup_path(@startup), :method => :post, :class => 'btn'