- content_for :subtitle do
  Register your startup

%h2 Register your Startup for nReduce

.row
  .span12
    = semantic_form_for @startup, :url => '/startup/', :html => {:class => "form-horizontal"} do |f|

      = render "startups/fields", :f => f

      .form-actions
        = f.submit "Submit", :class => "btn btn-primary btn-large"