- content_for :subtitle do
  nReduce Summer 2012 Welcome

- hide_nav = !@complete

.row{:style => @complete ? '' : 'width: 620px'}
  %div{:class => @complete ? 'span12' : 'span8'}
    .onboard
      = render :partial => "startups/onboard/step_#{@step}"