:plain
  $("#relationship_#{@relationship.connected_with.obj_str} .modal-body, #relationship_#{@relationship.connected_with.obj_str}").html('#{escape_javascript(render('layouts/flash_messages', :no_dismiss => true))}');
- flash.discard