- title ||= 'Profile'
.profile_completeness{:align => 'left'}
  .left
    .left
      %h3
        %small 
          #{title} 
          %span.percent #{@profile_completeness_percent}%
          Complete
    .clear
    
    .progress{:align => 'left'}
      .bar{:style => "width: #{@profile_completeness_percent}%"}
    - unless @profile_elements.blank? || @profile_completeness_percent == 100
      %div{:align => 'left'}
        %strong To Do:
        != format_profile_elements(@profile_elements)
  .clear
  