- title ||= 'Profile'
.profile_completeness{:align => 'right'}
  %br/
  .right.well
    .left
      %h3
        %small #{title} #{@profile_completeness_percent}% Complete
    .clear
    
    .progress{:align => 'left'}
      .bar{:style => "width: #{@profile_completeness_percent}%"}
    - unless @profile_elements.blank?
      %div{:align => 'left'}!= format_profile_elements(@profile_elements)
  .clear
  