- content_for :subtitle do
  Edit Account

%h2 Edit Account (#{@user.name})

.row
  .span12
    = semantic_form_for @user, :html => {:class => "form-horizontal"} do |f|

      = render 'users/fields', :f => f