- content_for :subtitle do
  Edit Account

.row
  .span8
    %h2 Edit Your Account

    = semantic_form_for @user, :html => {:class => "form-horizontal"} do |f|
      = render 'users/fields', :f => f
  .span4
    = render 'users/profile_completeness'
    