- body_attrs :class => "apply"

- content_for :subtitle do
  RSVP

.container
  = link_to "nReduce", "/", :class => "logo"
  %h2 RSVP for nReduce

  .row.intro-text
    .span7
      %p
        If you are anywhere near one of our locations we strongly encourage you to attend our in person dinner. Otherwise select "Virtual" and we'll send you instructions on how you can participate online.

  .row
    .span12
      = semantic_form_for @auth, :url => "/rsvp/edit", :method => :post, :html => {:class => "form-horizontal"} do |f|
        = render 'users/fields', :f => f

