.span1
  &nbsp;
.span7
  %h1{:style => 'font-size: 90px; line-height: 100px'} Congratulations!
  %br/
  %br/
  %h2 To make nReduce awesome we need to create an amazing community.  

  %h2 It is our goal to create a community of engaged builders working to make a dent in the world.

  %h2 As that is the case, we are currently approving all new accounts so that we can ensure that you have an amazing user experience.

  / If a user 
  - if current_user.invites.accepted.count > 0
    %br/
    = button_to "Enter nReduce", welcome_user_path(current_user, :i => 1), :method => :post, :class => 'btn btn-large btn-success', :style => 'font-size: 60px'
  - else
    %h2 So sit back and watch some of our favorite startup talks.  You will receive an activation email in a Jiffy!

    %br/
    %br/
    :plain
      <object width="526" height="374"><param name="movie" value="http://video.ted.com/assets/player/swf/EmbedPlayer.swf"></param><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always"/><param name="wmode" value="transparent"></param><param name="bgColor" value="#ffffff"></param><param name="flashvars" value="vu=http://video.ted.com/talk/stream/2009X/Blank/SimonSinek_2009X-320k.mp4&su=http://images.ted.com/images/ted/tedindex/embed-posters/SimonSinek-2009X.embed_thumbnail.jpg&vw=512&vh=288&ap=0&ti=848&lang=en&introDuration=15330&adDuration=4000&postAdDuration=830&adKeys=talk=simon_sinek_how_great_leaders_inspire_action;year=2009;theme=unconventional_explanations;theme=not_business_as_usual;event=TEDxPuget+Sound+;tag=bullseye;tag=business;tag=entrepreneur;tag=leadership;tag=sales;tag=selling;tag=success;&preAdTag=tconf.ted/embed;tile=1;sz=512x288;" /><embed src="http://video.ted.com/assets/player/swf/EmbedPlayer.swf" pluginspace="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" bgColor="#ffffff" width="526" height="374" allowFullScreen="true" allowScriptAccess="always" flashvars="vu=http://video.ted.com/talk/stream/2009X/Blank/SimonSinek_2009X-320k.mp4&su=http://images.ted.com/images/ted/tedindex/embed-posters/SimonSinek-2009X.embed_thumbnail.jpg&vw=512&vh=288&ap=0&ti=848&lang=en&introDuration=15330&adDuration=4000&postAdDuration=830&adKeys=talk=simon_sinek_how_great_leaders_inspire_action;year=2009;theme=unconventional_explanations;theme=not_business_as_usual;event=TEDxPuget+Sound+;tag=bullseye;tag=business;tag=entrepreneur;tag=leadership;tag=sales;tag=selling;tag=success;&preAdTag=tconf.ted/embed;tile=1;sz=512x288;"></embed></object>

    