.span9{:align => 'center'}
  %h1{:style => 'font-size: 90px; line-height: 100px'} Congratulations!
  %br/
  %br/
  %h2
    nReduce is a commuity of builders.  As this is the case we are monitoring all new startups to ensure a great user experience.  While you are waiting for the admission email, please take a look at this video and get fired up!
  %br/
  <iframe width="420" height="315" src="http://www.youtube.com/embed/UizlkbS61mQ" frameborder="0" allowfullscreen></iframe>
  
  / %br/
  / = button_to "Enter nReduce", welcome_user_path(current_user), :method => :post, :class => 'btn btn-large btn-success', :style => 'font-size: 60px'  