%h1 Review Startups
%br/
%br/
- if @num_startups_left > 0 && can?(:investor_mentor_connect_with_startups, current_user)
  You have #{pluralize(@num_startups_left, 'startup')} to review.
  = link_to 'Start Now', new_rating_path, :class => 'btn btn-success btn-large'
- else
  Thanks for reviewing startups - we will email you when we have more to check out.
