- content_for :subtitle do
	nReduce Community Guidelines

.row
	.span12{:align => 'center'}
		%h1 nReduce Community Guidelines
		%br

.row
	.span3
		&nbsp;
	.span6
		%p nReduce is about helping entrepreneurs build great companies, create jobs and change the world. To do that we create rules and expectations which support that. Our community guidelines are a core part of these expectations. 

		%p Being that we are a community of creators and builders, we expect that each team member is engaged and each week provides useful feedback/support to each team in their group who posts an after video. 

		%p You can decide which teams to accept into your group and how many teams you would like to invest in building a relationship with. If a team is not providing good feedback, feel free to remove them from your group.

		%br
		%br
		%center
			%h2{:style => 'margin-bottom: 0'} Community Rating Levels
			%h3
				%small (calculated daily, on a rolling basis from the past 4 weeks)

		%hr{:style => 'margin: 18px 0 18px;'}
		.row
			.span2{:align => 'right'}
				%button.btn.btn-large.btn-success #{Startup.community_status[2]}
			.span4
				%h3 1+ comments given per startup per week
		%hr{:style => 'margin: 18px 0 18px;'}
		.row
			.span2{:align => 'right'}
				%button.btn.btn-large.btn-warning #{Startup.community_status[1]}
			.span4
				%h3 0.25 - 1 comments given per startup per week
		%hr{:style => 'margin: 18px 0 18px;'}
		.row
			.span2{:align => 'right'}
				%button.btn.btn-large #{Startup.community_status[0]}
			.span4
				%h3 less than .25 comments given per startup per week
		%hr{:style => 'margin: 18px 0 18px;'}
		%br
		%br
		%center
			%h2{:style => 'margin-bottom: 0'} Weeks Incubated
		%br
		This is a total of the weeks that a team has been active on nReduce.  To be active you must post a weekly check in.
		%br
		%center
			%h2{:style => 'margin-bottom: 0'} Awesomes
		%br
		Awesomes are given to a startup from their peers for doing well.

	.span3
		&nbsp;