- content_for :subtitle do
  FAQ

.home_page.myriad_light{:style => 'margin-top: 2px'}
  %h3 ABOUT US AND FAQ
  %br/
  %br/
.about_page.myriad_light
  %h1 Why did you start nReduce?

  %h2= link_to 'We love startups.', team_path
  %br/
  %br/
  %h1 What is the goal of nReduce?

  %h2 To take every startup that joins and help them better execute on their idea.
  %br/
  %br/
  %h1 Do you guys like traditional incubators?

  %h2 Yes!  
  %h3 Anyone who dedicates themselves to helping startups is a friend of nReduce.  We are huge fans of all the great entrepreneurs who have decided to spend their lives starting incubators and guiding startup teams. 
  %br/
  %br/
  %h1 What is the benefit of nReduce for startups?
  %br/
  %br/
  %h2 We give you weekly structure.  
  %h3 It can be hard for early teams to get on consistent schedule of building your startup.  We give you the framework of working from Wednesday to Tuesday. 
  %br/
  %br/
  %h2 We give you focus. 
  %h3 It is very common for startup teams to have each member working on their own pet project.  We have seen that it is way more beneficial if the team as a whole has a single weekly goal.  This helps people come together and solve problems as a team.
  %br/
  %br/
  %h2 We help you build a community of founders.  
  %h3 nReduce is a community of creators, as this is the case we expect each startup to give feedback to the other startups in their group and therefore they can expect to receive feedback as well.  The more engaged you are in the community the more other founders will want to collaborate with you.
  %br/
  %br/
  %h2 We help you get mentors.  
  %h3 Once you have been executing in nReduce for a few weeks you can earn the ability to contact mentors from our mentor list and pitch them on why you are the best company in the world for them to mentor.
  %br/
  %br/
  %h2 We help you get investors.  
  %h3 Startups who are interested in raising capital can apply to one of our online demo days.
  %br/
  %br/
  %h2 We help you keep your existing mentors & investors engaged.   
  %h3 Invite your current mentors or investors to connect with your company.  They will then be notified of your weekly progress and can easily give you ideas / advice.
  %br/
  %br/
  %h1 What does a week look like in nReduce?

  %h2 On Wednesday: 
  %h3 You decide what your goal is for the week.

  %h2 The following Tuesday: 
  %h3 You post your progress and get feedback from the other founders in your group.
  %br/
  %br/
  %h1 How much equity do you take?

  %h2 0 Shares
  %br/
  %br/
  %h1 Okay then how much do I have to pay each month?

  %h2 $0
  %br/
  %br/
  %h1 What? How can you not charge founders?

  %h2 We have designed our system to be free to founders.  
  %h3 If we are successful in providing value to founders, we will have the opportunity to charge for optional value added features in the future.
  %br/
  %br/
  %h1 How long do startups stay in nReduce?

  %h2 From the day they are founded for as long as they find it useful to their business.
  %br/
  %br/
  %h1 Do I have to have a product to join?

  %h2 No!  
  %h3 We are here to help entrepreneurs... in any stage of the process.  Even if you are a lone business founder with no tech experience who has only a Powerpoint prototype of an idea, we want you to join.  Start the process!  Get in the habit of attacking weekly goals and get the support you need from a great community.
  %br/
  %br/
  %h1 What if I am a later stage company?

  %h2 Later stage companies have been having great experiences.  
  %h3 You can connect with a group of other later stage companies as well as use nReduce to keep your investors engaged and up to date on your progress.
  %br/
  %br/

