.home_page
  .row
    .span12.background-field
      %h2.headspacing
        An
        %B Alliance of Founders
        Providing 
      %h1.myriad_bold.feedback Feedback & Accountability
      %h3.headspacing
        Join our 
        %b Free Online Startup Incubator 
        and 
        %b Build an Awesome Company!
      %br/
      %br/

      .center.linkedintxt 
        %b Join Us
      .center.linkedinbtn= link_to image_tag('linkedinjoin.png'), "/auth/linkedin"
      %br/
      %br/
      .left.share_btns
        :plain
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.nreduce.com" data-text="An alliance of founders working together to build Amazing Companies" data-via="nReduce">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          <div class="fb-like" data-href="http://www.nreduce.com" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false" data-font="lucida grande"></div>
      .right.newslogo= image_tag('venturebeat.png')
      .right.newslogo= link_to image_tag('pando.png'), 'http://pandodaily.com/2012/07/27/virtual-incubator-to-all-nreduce-adds-mentors-and-demo-days-is-it-the-pre-angellist/', :target => '_blank'
      .right.newslogo= image_tag('xoconomy.png')
      .clear
  %hr
  
  .middle_container
    .row
      .span4
        .benefit
          %h3 Work with other Founders
          %p Build an amazing community of fellow founders who you collaborate with each week. 
      .span4
        .benefit
          %h3 Free and No Equity Taken
          %p We have designed nReduce to be free to founders and it always will be. 
    .row
      .span4
        .benefit
          %h3 Build your Network
          %p Meet and work with 1000+ other founders in the global nReduce network. 
      .span4
        .benefit
          %h3 Keep Mentors and Investors Engaged
          %p Share your weekly progress with your existing mentors and investors. Enable them to easily give you advice. 
    .row
      .span4
        .benefit
          %h3 Earn More Mentors
          %p If you complete the mentorship requirements you can contact mentors on the nReduce mentor list. 
      .span4
        .benefit
          %h3 Become an nStar
          %p If you meet the requirements you can compete to become an nStar and be featured in our online demo day.
  %br/
  %br/
  %br/
  %hr
  %br/
  %br/
  %br/ 
  .row
    .span1
      %p
    .span10
      .scriptfeature
        "Our goal for nReduce is to improve the way 
        %b every startup
        in the world executes on their idea.
        We see startups as the  
        %b embodiment of hope 
        and the ability of an individual to 
        %b change the world.  
        We are building nReduce to make these 
        %b courageous people
        better at what they do."
    .span1
      %p
  %br/
  %br/
  %br/
  %br/
  %hr
  %br/
  %br/
  .row
    .span4
      .center=link_to image_tag('tshirtstore.png'), "http://www.printfection.com/nreduce", :target => '_blank'
    .span4
      .center=link_to image_tag('letterlink.png'), newmodel_path
    .span4
      .center=link_to image_tag('weheartsups.png'), "http://blog.nreduce.com/post/27846076429/nreduce-world-tour", :target => '_blank'

  %br/
  %br/

/ FACEBOOK CONNECT
:plain
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=212738105491822";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

 