.home_page.myriad_light
  %br/
  %br/
  %h2.headspacing 
    An
    %B Alliance of Founders
    Providing 
  %h1.myriad_bold.headspacing Feedback & Accountability
  %h3.headspacing
    Join our 
    %b Free Online Startup Incubator 
    and 
    %b Build an Awesome Company!
  %br/
  %br/

  .center.linkedintxt 
    %b Startup Founder? 
    Join Us :
  .center.linkedinbtn= link_to image_tag('linkedinjoin.png'), "/auth/linkedin"
  %br/
  .right.newslogos=link_to image_tag('venturebeat.png'), "/"
  .right.newslogos=link_to image_tag('pando.png'), "/"
  .right.newslogos=link_to image_tag('xoconomy.png'), "/"
  .clear
  %hr
  %br/
  .row
    .span1
      %p
    .span5
      %h3.exheading Work with other Founders
      %p.extext Build an amazing community of fellow founders who you collaborate with each week. 
    .span5
      %h3.exheading Free / No Equity Taken
      %p.extext We have designed nReduce to be free to founders and it always will be.  We will charge other users as we add value in the future. 
  .row
    .span1
      %p
    .span5
      %h3.exheading Build your Network
      %p.extext Meet and work with 1000+ other founders in the global nReduce network. 
    .span5
      %h3.exheading Keep Mentors / Investor Engaged
      %p.extext Share your weekly progress with your existing mentors / investors and enable them to easily give you advice. 
  .row
    .span1
      %p
    .span5
      %h3.exheading Earn More Mentors
      %p.extext If you complete the mentorship requirements you can contact mentors on the nReduce mentor list. 
    .span5
      %h3.exheading Become an nStar
      %p.extext If you meet the requirements you can compete to become an nStar and be feature in our online demo day.
  %br/
  %br/
  %br/
  %hr
  %br/
  %br/
  %br/ 
  .row
    .span1
      %p
    .span10
      .scriptfeature 
        "Our goal for nReduce is to improve the way 
        %b every startup
        in the world executes on their idea.
        We see startups as the  
        %b embodiment of hope 
        and the ability of an individual to 
        %b change the world.  
        We are building this free system to make these 
        %b courageous people
        better at what they do."
    .span1
      %p
  %br/
  %br/
  %br/
  %br/
  %hr
  %br/
  %br/
  .row
    .span4
      .center=link_to image_tag('tshirtstore.png'), "/"
    .span4
      .center=link_to image_tag('weheartsups.png'), "/"
    .span4
      .center=link_to image_tag('nstarlink.png'), "/"
  %br/
  %br/


 