- content_for :subtitle do
  nReduce Investor Community

%h2 nReduce Investor Community

.row
  .span12
    %p
      Hi - we're glad you've stopped by and would love to hear more from you.

    %p 
      Please drop Joe and Josh a line at 
      %strong= mail_to 'partners@nreduce.com'
      if you're interested in becoming part of the nReduce investor community.