- content_for :subtitle do
  nReduce Investor Community

.row
  .span3
    %p
  .span6.center
    %h1{:style => 'margin-top: 80px; margin-bottom: 40px; font-weight: 600; font-size: 40px; color:#29ADF0' }
      Adventurous Investors
    = image_tag 'graph.png'
    %h3{:style => 'margin-top: 20px; margin-bottom: 40px'} Email Joe@nReduce.com to learn about how nReduce can help you discover and build relationships with amazing founders.