
.row
  .span2{:style => 'margin: 31px 0 60px 31px;'}= image_tag 'nglow.png'
  .span2
    %p
  .span2.center
    .topdash
      %h4.solid{:style => 'font-size:10px; color: #666666; padding-top: 4px;'} Goal
      %p.solid{:style => 'font-size:16px; color: #3697D5;'} We need to build a new backend.
      %h3.solid 1d 2h 34m 31s
      %h4.solid{:style => 'font-size:10px; color: #666666;'}  Time Left / Metric to Beat
      %h1.solid{:style => 'font-size:24px; color: #3697D5; font-weight:bold;'} 345
  .span5
    .row
      .right{:style => 'padding: 41px 0 0 0;'}= image_tag 'fakemenu.png'
      .right{:style => 'padding: 67px 10px 0 10px;'}
        %h3{:style => 'color: #fff; padding: 5px 15px 5px 15px;'} Pitch Room
      .right{:style => 'padding: 67px 10px 0 10px;'}
        %h3.btndown{:style => 'color: #fff; padding: 5px 15px 5px 15px;'} Work Room
    
    .clear
.pbody
  %br/
  %br/
  .row.solid
    .span2.center{:style => 'padding: 50px 20px 20px 90px; opacity: 1;'}=image_tag 'teampholder.png'
    .span2.center{:style => 'padding: 50px 20px 20px 20px;'}=image_tag 'teampholder.png'
    .span2.center{:style => 'padding: 50px 20px 20px 20px;'}=image_tag 'teampholder.png'
    .span2.center{:style => 'padding: 50px 20px 20px 30px;'}=image_tag 'watercooler.png'
  .row.solid
    .span2.center{:style => 'padding: 50px 20px 20px 90px;'}=image_tag 'teampholder.png'
    .span2.center{:style => 'padding: 50px 20px 20px 20px;'}=image_tag 'teampholder.png'
    .span2.center{:style => 'padding: 50px 20px 20px 20px;'}=image_tag 'teampholder.png'
    .span2.center{:style => 'padding: 50px 20px 20px 30px;'}=image_tag 'vault.png'
  .row.solid
    .span2.center{:style => 'padding: 50px 20px 50px 90px;'}=image_tag 'teampholder.png'
    .span2.center{:style => 'padding: 50px 20px 50px 20px;'}=image_tag 'teampholder.png'
    .span2.center{:style => 'padding: 50px 20px 50px 20px;'}=image_tag 'teampholder.png'
    .span2.center{:style => 'padding: 50px 20px 50px 30px;'}=image_tag 'teampholder.png'
%br/  
%br/  
%br/  
%br/  
%br/  
%br/  
%br/  
%br/  
%br/  
