
.row{:style => 'padding-top : 20px'}
  .span12.center 
    %h1 nReduce Rapid Feedback Terminal
.row{:style => 'margin-top : 20px'}
  .span3
    %h3 How it Works
    <iframe width="251" height="141" src="http://www.youtube.com/embed/ZUHg6rwuRiE" frameborder="0" allowfullscreen></iframe>
    %p Local meeting introduction from Joe 
  .span4
    <iframe src="https://docs.google.com/a/nreduce.com/spreadsheet/embeddedform?formkey=dEpuMlY3TGxaUkpncTE5eEpYNW5haGc6MQ" width="760" height="841" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>