- content_for :subtitle do
  nReduce Mentor

.row
  .span3
    %p
  .span6.center
    %h1{:style => 'margin-top: 80px; margin-bottom: 40px; font-weight: 600; font-size: 40px; color:#29ADF0' }
      Experienced Mentors
    = image_tag 'guide.png'
    %h3{:style => 'margin-top: 20px; margin-bottom: 40px'} Email Joe@nReduce.com to learn about how you can get involved with nReduce and help founders build amazing startups.