%table.table-bordered
  %thead  
    %tr
      %th
        %b boom
      %th
        %b boom
      %th
        %b boom
      %th
        %b boom
  %tbody
    %tr
      %td
        %p Sam
      %td
        %p Sam
      %td
        %p Sam
      %td
        %p Sam
    %tr
      %td
        %p Sam
      %td
        %p Sam
      %td
        %p Sam
      %td
        %p Sam
        