%table.table-bordered
  %thead  
    %tr
      %th
        %b Stage
      %th
        %b Weekly Revenue
      %th
        %b Weekly Active Paid Subscribers
      %th
        %b Weekly Active Users
      %th
        %b Completed Transactions
      %th
        %b Page Views
  %tbody
    %tr
      %td
        %p 1) Pre Launch
      %td
        %p $0
      %td
        %p 0
      %td
        %p 0
      %td
        %p 0
      %td
        %p 0
    %tr
      %td
        %p 2) Customer Dev
      %td
        %p $1-$500
      %td
        %p 1-20
      %td
        %p 1-200
      %td
        %p 1-50
      %td
        %p 1-1,000
    %tr
      %td
        %p 3) Product Market Fit
      %td
        %p $501-$10,000
      %td
        %p 21-400
      %td
        %p 201-1,000
      %td
        %p 51-100
      %td
        %p 1,001-100,000
    %tr
      %td
        %p 4) Growth Engine
      %td
        %p $10,001-$100,000
      %td
        %p 401-4,000
      %td
        %p 1,001-10,000
      %td
        %p 101-1,000
      %td
        %p 100,001-10,000,000
    %tr
      %td
        %p 5) Scaling
      %td
        %p $100,000+
      %td
        %p 4,001+
      %td
        %p 10,001+
      %td
        %p 1,001+
      %td
        %p 10,000,001+