- content_for :subtitle do
  The nReduce model

.newmodel.span12
  .row
    .span5
      %h4 Dear nReducers,
    .span5
      %p Wednesday, July 25th, 2012
  
  %p 
    %h3 Thank you.

  .row
    .span8

      %p Josh and I have been working around the clock for the past two months to build nReduce and have been loving every minute of it.  
      %p We are able to do this because you all have believed in what we are doing and have invested time in nReduce.
      %p I am writing to thank you for that belief and to keep you fully informed on the changes we are making.
      %p  Our goal for nReduce is to improve how every every entrepreneur in the world executes on their idea.
      %p The past two months have been amazing.  There have been over 200 teams globally checking in, sharing over 5000 pieces of feedback. 
      %p We launched nReduce with a hybrid model of in-person dinners and an online experience that provided feedback and accountability. The in-person meetings have been amazing, but attendance has diminished over time as it is a large time commitment for most entrepreneurs. Surprisingly, online engagement has been extremely consistent, with people asking to join. Therefore we are going to focus on building the best possible online startup incubator.
      %p We realized that we adopted the rules of physical incubators, but in order to build something amazing we had to go back to the drawing board and question every aspect of our system. We started by outlining the model of physical incubators:
      %br/
      %p 
        %h3 Rules of Physical Incubators
      %br/
      %p The traditional business model for physical incubators starts with having a large number startups apply to join. They then spend time and money to determine who gets admitted. Next, they contribute time and money to help the chosen startups.  Once polished, they introduce those startups to investors. For that service, the incubator usually gets between 5 to 10% of the company in payment. For the incubator to be profitable, that equity has to become worth more than the costs incurred in screening and helping their startups. As this is how they make money, they have adopted these rules: 
      %p 
        %h4 1) Everyone needs to incubated for 3 months.
      %p The costs of a physical incubator mean that they can only put so much time into each company. If they allowed each startup to stay in the incubator indefinitely, it would increase their cost of helping a startup and hurt their model. 
      %p 
        %h4 2) Everyone needs to start at the same time.
      %p If they had let startups join at different times, they would have to repeat actions and orientations over and over again, it would increase their cost of helping a startup and hurt their model. 
      %p If they had let startups join at different times, they would have to repeat actions and orientations over and over again, it would increase their cost of helping a startup and hurt their model. 
      %p 
        %h4 3) Everyone is ready to demo at the same time.
      %p Physical incubators spend time and money to make demo days happen. To make it more efficient they only do it once per class. This means that startups need to demo when it is best for the incubator. If the startup could select a demo day that was best for them, it would increase the incubator's cost of helping a startup and hurt their model. 
      %br/
      %p 
        %h3 The nReduce Model
      %br/
      %p We first off have some difference when compared to a physical incubator.   The fact that we take in all startups and that we don't take equity means that we do not give money to any of the startups we incubate.  Also because we take in all startups, some of whom may or may not be appropriate for investment, only the best startups that are incubated in nReduce will be featured in our one of our online demo days.
      %p In creating this new model for a startup incubator, we realized that we could greatly improve the experience for startups.  As of today we are launching the new nReduce model that is founded on these principles:
      %br/
      %p 
        %h4 1) Teams stay in for as long as is right for them
      %p Every startup has different needs. We want to have a flexible solution that a startup can tailor to their needs as entrepreneurs, as they work to make something that their customers love. So pivot all you want, it is okay. If for any reason your current startup dies, you can start again the next week on a new project and start building. If at some point you decide that your startup has outgrown nReduce, we completely understand and will be here for you the next time you start a company. 
      %br/
      %p 
        %h4 2) Demo days will happen monthly
      %p Our first demo day will be on September 5th. As of August 1st any team in the nReduce global network can apply be get a spot in demo day.  Based on an investor rating of the companies, the top 10 will be selected.  If a company does not get selected, they can keep executing and apply for the next demo day. The first demo day will require that you have been active in nReduce for 2 months, so only teams that started nReduce in June will be eligible. 
      %br/
      %p 
        %h4 3) You can invite ANY startup to join your group
      %p Because a great amount of your experience will be shaped by the feedback you get from your group, we want to make sure you have the best group possible. This could be teams that you meet through nReduce or those that you currently know.  We want to give you the power to build the best group to support your startup. Starting today, we now allow you to invite other startups to join your group on nReduce. 
      %br/
      %p 
        %h4 4) Startups can join at any time
      %p Startups change daily. We want to be able to have any startup that was founded last week to get the benefits of nReduce the next week. We do not have set times when you have to apply or join. 
      %br/
      %p
        %h3 Closing
      %br/
      %p Phew, that was a lot :)
      %br/
      %p To all the amazing startup founders who have been working hard for last two months, I completely understand that this change might bring up some emotions.  You have trusted us with your time and I can only say that I fully believe that these decisions will not only create a better experience for your company, but it will set the foundation to building a system that helps 100's of thousands of other amazing entrepreneurs in the years to come.
      %p Again, we thank you for your belief and as always, let us know if there is anything we can do to help your startup.
      %br/
      %br/
      %p Best,
      %p 
        %b - Joe & Josh
      %br/
      %br/
