.nstar
  .row
    .slide
      %h1 On June 4th, 2012 :
      %h2 624 Teams committed to building great products started nReduce.
    .slide.left
      %h2 Some have faltered...
    .slide.left
      %h2 Others have risen to the challenge.
    .slide.left
      %h1 On September 5, the best 10 will be introduced to the world.
      %h2 and the nStar will be born!
    .slide.left
      %h1 Sign up to reserve a space in our Online Demo Day:
