- content_for :subtitle do
  nReduce Mentor

.row
  .span3
    %p
  .span6.center
    %h1{:style => 'margin-top: 80px; margin-bottom: 40px; font-weight: 600; font-size: 40px; color:#29ADF0' }
      Press, Journalists & Bloggers 
    = image_tag 'presspass.png'
    %h3{:style => 'margin-top: 20px; margin-bottom: 40px'} Email Joe@nReduce.com to get an official nReduce Press Account and get priority access to exciting companies.