.row.tosprivacy
  .span8.offset2


    %h2 Privacy Policy

    %p This Privacy Policy describes our policies and procedures on the collection, use and disclosure of your information when you use our Service.  Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms of Service (the “Terms”).  This Privacy Policy applies to the information that you provide to us through the Service.

    %p As used in this policy, the terms “using” and “processing” information include using cookies on a computer, subjecting the information to statistical or other analysis and using or handling information in any way, including, but not limited to collecting, storing, evaluating, modifying, deleting, using, combining, disclosing and transferring information within our organization or among our affiliates within the United States or internationally. 

    %b Information Collection and Use 
    %p When using the Service, we will collect and store your company profile and other information that you provide, some of which will be information that can identify a person individually (information about you that can be used to contact or identify you). Personal information that we might collect would include things like, your company’s employees’ names, their email addresses, and the company’s physical address, and any other personal information that you provide through the Service. 

    %p We will share the Content you make available on the Service with other users with whom you have authorized us to share with.  We will not share your Content with any other user without your permission.  You determine and select what Content and profile information you wish to share and with whom you will share it.  We use your personal information : (i) to administer the Service, (ii) to enable users to easily use and navigate the Service, (iii) to provide, improve and optimize the Service, (iv) to better understand users needs and interests, (iv) to personalize your experience, and (v) to provide you with product announcements.

    %p When you use the Service, our servers automatically record information that your browser sends whenever you visit our website (“Log Data”). Log Data may include information such as your computer’s Internet Protocol (IP) address, browser type or the webpage you were visiting before you came to our website, pages of our website that you use, the time spent on those pages, information you search for on our Service, access times and dates, and other statistics. We use this information to monitor and analyze use of the Service and for its technical administration, to increase its functionality and user-friendliness, and to better tailor it to our visitors’ needs.

    %p We also use “cookies” to collect information. A cookie is a small data file that is transferred to your computer for record-keeping purposes. We use cookies for two purposes. First, we utilize persistent cookies to save your registration ID and login password for future logins to the Service. Second, we utilize session ID cookies to enable certain features of the Service, to better understand how you interact with the Service and to monitor aggregate usage by users of the Service and web traffic routing on the Service. Unlike persistent cookies, session cookies are deleted from your computer when you log off from the Service and then close your browser. Third party advertisers on the Service may also place or read cookies on your browser. You can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. If you do not accept cookies, however, you may not be able to use all portions or all functionality of the Service. 

    %b Information Sharing and Disclosure 
    %p We will only share information about you with other people or nonaffiliated companies, when we have your permission, and/or under the following circumstances: 

    %p We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform related services (e.g., without limitation, maintenance services, database management, web analytics and improvement of the Service’ features) or to assist us in analyzing how our Service are used.  These third parties may have access to your personally identifiable information but only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.

    %p We may disclose your personal information if required to do so by law or subpoena or if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect our rights or property or the rights or property of a third party.

    %p We may share aggregated and anonymous (that does not include personal information) information and Log Data with third parties for industry analysis, demographic and analytical profiling and other purposes. Any information shared in these contexts will not contain any personal information.  

    %p We may transfer or assign some or all of our assets, which could include your personal information, in connection with a merger, acquisition, reorganization or sale of the business or its assets or in the event of dissolution. 

    %b Changing or Deleting Your Information 
    %p You may update or correct your profile and Account information and email preferences at any time by logging in to your Account. You may review, update, correct or delete any of the information contained in your Content by making the appropriate modifications in your Account.  If you delete all of your Content, then your Account may become deactivated.  If your Account is deactivated, your Content will no longer be available to the users you’ve chosen to share it with.  If you would like us to delete your record in our system, please contact us with a request that we delete your personal information from our database. We will use commercially reasonable efforts to honor your request, however, we may retain an archived copy of your records as required by law or for other legitimate business purposes.

    %b Security 
    %p We use commercially reasonable physical, managerial, and technical safeguards to preserve the integrity and security of your personal information. We cannot, however, ensure or warrant the security of any information you transmit to us or guarantee that your information on the Service may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. 

    %p In the event that personal information is compromised as a result of a breach of security, we will promptly notify those persons whose personal information has been compromised, in accordance with the notification procedures set forth in this Privacy Policy, or as otherwise required by applicable law.

    %b International Transfer 
    %p Your information may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the privacy laws may not be as protective as those in your jurisdiction. If you are located outside the United States and choose to provide information to us, we may transfer your personal information to the United States and processes it there. Your submission of such information represents your agreement to that transfer. 

    %b Links to Other Sites 
    %p We are not responsible for the practices employed by websites linked to or from the Service, nor the information or content contained therein. Please remember that when you use a link to go from the Service to another website, our Privacy Policy is no longer in effect. Your browsing and interaction on any other website, including those that have a link on our website, is subject to that website's own rules and policies.

    %b Children’s Information 
    %p We do not knowingly collect personal information from children.  If we learn that we have collected personal information of a child under 13, we will take steps to delete such information from our files as soon as possible.

    %b Changes
    %p We reserve the right, in its sole discretion, to modify, discontinue, or terminate the Service or to modify this Privacy Policy at any time.  If we modify this Privacy Policy, we will notify you of such changes by posting them on the Service or providing you with notice of the modification.  We will also indicate when such terms are effective below.  By continuing to access or use the Service after we have posted a modification or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Privacy Policy.  If the modified Privacy Policy is not acceptable to you, your only recourse is to cease using the Service.

    %p If you have any questions about our practices or this privacy policy, please contact joe@nReduce.com

    %p Effective: 11/21/2012
