.relationships
  .helpexchange
    .success_modal.center
      .mediumtext Way to do it!
      .smalltext You just earned 
      .bigmessage
        .left.bigtext +20
        .left.coinimage= image_tag "successcoin.png"
        .clear
      .smalltext By helping the nReduce Founders Build their startup.
      .mediumtext You Rock!