- content_for :subtitle do
  The nReduce Team

.team
  .row
    .span7.offset2
      %h1 The nReduce Team
  .row
    .span2
      %p
    .span8
      %h2
        "Our goal for nReduce is to improve the way 
        %b every startup
        in the world executes on their idea.
        We see startups as the  
        %b embodiment of hope 
        and the ability of an individual to 
        %b change the world.  
        We are building nReduce to make these 
        %b courageous people
        better at what they do."
    .span1
      %ps
    %br/
    %br/
  
  .teammate{:style => 'padding-top:40px'}

    .row
      .span2
        .right=link_to image_tag('joe.jpeg'), "#"
      .span6
        %h2
          Joe Mellin
          %span.title CEO & Co-Founder
        %p  Joe likes designing and building systems that help people. When not brainstroming ideas and learning to code, he is learning how to play "Don't Stop Believing" on piano. <br/><span class="twitter"> Follow <a target="_blank" href="http://twitter.com/joemellin">Joe (@joemellin)</a>.
  .teammate
    .row
      .span2
        .right=link_to image_tag('josh.jpeg'), "#"
      .span6
        %h2
          Josh Schwartzman
          %span.title CTO & Co-Founder
        %p  When not solving ridiculusly hard problems in an elegant way, he is adding cilantro and crazy amazing spices to delicious dishes and telling stories of world travels. <br/><span class="twitter"> Follow <a target="_blank" href="http://twitter.com/geeosh">Josh (@geeosh)</a>.
  .teammate
    .row
      .span2
        .right=link_to image_tag('raemond.jpg'), "#"
      .span6
        %h2
          Raemond Bergstrom-Wood
          %span.title Investor Relations
        %p  Raemond can find anyone.  Yes you too!  When not tracking down the most famous investors in the world, he likes to run the tennis court and fight for truth and transparency.  <br/><span class="twitter"> Follow <a target="_blank" href="http://twitter.com/RaemondBW">Raemond (@RaemondBW)</a>.
  .teammate
    .row
      .span2
        .right=link_to image_tag('clifton.JPG'), "#"
      .span6
        %h2
          Clifton Fletemeyer
          %span.title Investor Relations
        %p  Clifton is always closing. His response to investors' inquiries into how he found them : "Sneaky Sneaky :)." When not building the nVestor network he likes to kick it old school and works on his frisbee skills.
  .teammate
    .row
      .span2
        .right=link_to image_tag('elliot.png'), "#"
      .span6
        %h2
          Elliot Glasenk
          %span.title Investor Relations
        %p  Elliot is the lead nVestor strategist.  He even came up with the term nVestor!  When he is not plotting our growth path, he hits up music festivals with Tupac.  

  .row
    .span7.offset2
      %h1 Advisory Board
  .teammate
    .row
      .span2
        .right=link_to image_tag('ash.jpeg'), "#"
      .span6
        %h2
          Ash Bhoopathy
          %span.title Designer / Growth hacker
        %p  <a href="http://yakshaving.net" target="_blank">Ash</a> is a serial product builder and designer who's worked on several startups including <a target="_blank" href="http://better.at">BetterAt</a> and now cofounding <a target="_blank" href="http://lizi.ai">Lizi</a>.  <br/><span class="twitter"> Follow <a target="_blank" href="http://twitter.com/ashbhoopathy">Ash (@ashbhoopathy)</a>.
  .teammate
    .row
      .span2
        .right=link_to image_tag('jacques.jpeg'), "#"
      .span6
        %h2
          Jacques Crocker
          %span.title Ruby hacker
        %p  Jacques is a veteran open source Ruby hacker who's worked on world class venture backed startups and now cofounder at <a target="_blank" href="http://lizi.ai">Lizi</a>. <br/><span class="twitter"> Follow <a target="_blank" href="http://twitter.com/railsjedi">Jacques (@railsjedi)</a>.
  .teammate
    .row
      .span2
        .right=link_to image_tag('paule.png'), "#"
      .span6
        %h2
          Paul Eikelenboom
          %span.title Performance Marketer
        %p  <a href="http://www.linkedin.com/in/pauleikelenboom" target="_blank">Paul</a> is an awesome performance marketer that has taken the charge to jump start nReduce London and Amsterdam!<br/><span class="twitter"> Follow <a target="_blank" href="http://twitter.com/frisidee">Paul (@frisidee)</a>.
  .teammate
    .row
      .span2
        .right=link_to image_tag('rich.jpeg'), "#"
      .span6
        %h2
          Rich Lengsavath
          %span.title Full stack Engineer
        %p Rich is a solid full stack engineer who's worked at Xerox PARC and in healthcare informatics before starting <a href="http://mealpop.com" target="_blank">Mealpop</a> and now <a target="_blank" href="http://lizi.ai">Lizi</a>.  <br/><span class="twitter"> Follow <a target="_blank" href="http://twitter.com/richlengsavath">Rich (@richlengsavath)</a>.
  
