#thanks
  .container
    = link_to "nReduce", "/", :class => "logo"
    %h2 Thanks, your startup is registered!
    .row
      .span7
        %p
          If you haven't already, follow
          %a{:href => "https://twitter.com/nReduce", :target => "_blank"} @nReduce
          on twitter for the latest updates.
          %br
          %a{:href => "https://twitter.com/nReduce", :class => "twitter-follow-button", "data-size"=> "large", "data-show-count" => "false", :style => "vertical-align: middle;" }

        %p
          We'd also greatly appreciate if you spread the word.
          %br
          %a{:href => "https://twitter.com/share", :class => "twitter-share-button", "data-count" => "none", "data-url" => "http://nReduce.com", "data-size"=> "large", "data-text" => "An alliance of creators who stay accountable and support one another", "data-via"=>"nReduce",  "data-related" => "ashbhoopathy, railsjedi, richlengsavath",  "data-hashtags" => "nReduce"}

        %p
          The more awesome startups join, the better nReduce will be for everyone. Time's running out, and once our batch starts (June 5th), we can't accept late applicants.

    %h3 One last thing... RSVP Now!
    .row
      .span7
        %br
        = link_to "RSVP for Weekly Dinner", "/rsvp/edit", :class => "btn btn-large btn-primary"

:erb
  <!-- Twitter follow button -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

