.row.tosprivacy
  .span8.offset2


    %h2 Terms of Service

    %p These Terms of Service (“Terms”) govern your access to and use of our website, www.nreduce.com and any of our mobile apps (the “Service”) which are operated by us, nReduce. Your access and use of our Service is conditioned on your compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations. By accessing and/or using our Service, you are agreeing to be bound by these Terms, which constitute a binding legal agreement between us.

    %b The Service
    %p Our Service allows users to create a company profile and provide informational content, including graphics, videos, and other materials (“Content”) about their business, and their products and services, which may be viewed and commented on by other users. Our Service may change from time to time, or we may stop (permanently or temporarily) providing the Service (or any features within the Service) to you or to users generally. We retain the right to create limits on access and use of the Service or to charge users a fee for the use of certain features, which we may decide to do at any time, although, in either case, we will provide you with prior notice before such limits or fees take effect. 

    %b Creating an Account
    %p In order to use the Service, you will need to register and create an account (“Account”). In creating an Account, you represent that you are of legal age to form a binding contract and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. When creating an Account, you may be required to provide certain personal information about yourself and establish a username and a password. You agree to provide accurate, current and complete information about yourself. We reserve the right to suspend or terminate your Account if any information provided during the registration process or thereafter proves to be inaccurate, false or misleading. You are responsible for maintaining the confidentiality of your password and for the activities that occur under your Account.

    %b Privacy Policy
    %p Any personal information that you provide to us is subject to our Privacy Policy, which governs our collection and use of your personal information. As part of providing the Service, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Service and your Account, which you may not be able to opt-out from receiving. 

    %b Premium Services
    %p The use of certain features and services in our Service require that you pay a fee (“Premium Services”). To enable and use the Premium Services, you are required to subscribe to and pay the fees associated with the Premium Services that you have selected in accordance with the terms. We will bill you for the use of the Premium Services through your Account. The pricing and payment options for the Premium Services are described on the Service and are subject to change. We may modify the fees for the Premium Services at any time; however, we will provide you at least thirty (30) days notice prior to any changes to the fees taking effect. Unless otherwise stated, all fees are quoted in U.S. Dollars.

    %p You agree to pay the applicable fees for the use of the Premium Services and you authorize us to charge your chosen payment provider for the Premium Services. By purchasing the Premium Services, you agree that we may automatically charge you the applicable fee for the Premium Services to your Account at the beginning of each subscription period until you terminate such Premium Services.

    %p You agree to provide current, complete, and accurate billing and payment information regarding your Account, and to promptly update such billing and payment information with us in the event of any changes. If we do not receive payment from your payment provider, you agree to pay all amounts due on your Account upon demand and we may temporarily suspend or terminate your access to the Premium Services for nonpayment. Your non-termination or continued use of the Premium Services reaffirms that we are authorized to charge your payment provider. 

    %b Content Submissions
    %p There are a wide array of laws covering the offering and selling of securities (i.e., shares or other types of ownership or financial interests in your company or business), including, rules and regulations restricting the general advertising and solicitation of the sale of securities. Your Content should not amount to a solicitation of investment under these laws. Before submitting or publishing any Content about your business, please be sure your Content does not implicate these laws and their rules and regulations. If you are unsure whether your Content complies with these laws, we recommend that you consult with an attorney familiar with these laws first, prior to submitting any Content through the Service.

    %p You are responsible for the Content that you post, upload or submit to the Service, including its legality, reliability, and appropriateness. By submitting, posting or displaying any Content on or through the Service, you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Service. You agree that this license includes the right for us to make your Content available to other users of the Service, who may also use your Content subject to these Terms. You retain any and all of your rights to any Content you submit, post or display on or through the Service and you are responsible for protecting those rights. You can remove Content that you posted by specifically deleting it.  In certain instances, however, some Content (such as posts or comments you make) may not be completely removed and copies of Content may continue to exist on the Service and/or elsewhere. We have no responsibility or liability for the removal or deletion of, or the failure to remove or delete any Content on the Service.

    %p We ask that you respect other users when posting Content and using the Service. When submitting Content to or otherwise using the Service, you agree not to:

    %p • submit material that violates a third party’s proprietary rights, including privacy and publicity rights, or that otherwise violates any applicable law;
    %p • publish falsehoods or misrepresentations; 
    %p • post or otherwise make available any unsolicited or unauthorized advertising, solicitations, promotional materials, or any other form of solicitation;
    %p • submit material that is unlawful, obscene, defamatory, libelous, threatening, pornographic, harassing, hateful, racially or ethnically offensive, or encourages conduct that would be considered a criminal offense, give rise to civil liability, violate any law, or is otherwise inappropriate; 
    %p • impersonate another person or represent yourself as affiliated with us, our staff or other industry professionals; or
    %p • post or otherwise make publicly available any personal or financial information of any person or entity for which you do not have the right or permission to do so.

    %p This list is an example and is not intended to be complete or exclusive. We may, but are not obligated to, monitor or control the Content posted via the Service. We reserve the right, at any time and without prior notice, to remove or disable access to any Content, that we consider, in our sole discretion, to be in violation of these Terms or otherwise harmful to the Service.

    %b Content on the Service
    %p The Content available through the Service has not been reviewed, verified or authenticated by us, and may include inaccuracies or false information.  We make no representations, warranties, or guarantees in connection with the Service, or any Content, relating to the quality, suitability, truth, accuracy or completeness of any content contained in the Service.

    %b Copyright Policy

    %p We do not permit copyright infringing activities and infringement of intellectual property rights on the Service and will remove any such Content if properly notified that such Content infringes on another's intellectual property rights. If you are a copyright owner or an agent thereof and believe that any Content infringes upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act (DMCA) by providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):

    %p • an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright's interest;
    %p • a description of the copyrighted work that you claim has been infringed, including the URL (i.e., web page address) of the location where the copyrighted work exists or a copy of the copyrighted work;
    %p • identification of the URL or other specific location on the Service where the material that you claim is infringing is located;
    %p • your address, telephone number, and email address;
    %p • a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and
    %p • a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.

    %p You can contact our Copyright Agent at Joe@nReduce.com or at 138 Woodland Ave, San Anselmo, CA, USA

    %b Unauthorized Activities
    %p The Service may be used and accessed for lawful purposes only. You agree that you will not do any of the following while using or accessing the Service: (i) attempt to access or search the Service or download content from the Service through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by us or other generally available third party web browsers; (ii) access, tamper with, or use non-public areas of the Service, our computer systems, or the technical delivery systems of our providers; (iii) gather and use information, such as other users’ names, real names, email addresses, available through the Service to transmit any unsolicited advertising, junk mail, spam or other form of solicitation; (iv) use the Service for any commercial purpose or for the benefit of any third party or in any manner not by these Terms; (v) violate any applicable law or regulation; or (vi) encourage or enable any other individual to do any of the foregoing. We reserve the right to investigate and prosecute violations of any of the above and/or involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms.  

    %b Indemnity
    %p You agree to indemnify and hold us harmless from and against any and all costs, damages, liabilities, and expenses (including attorneys' fees) we incur in relation to, arising from, or for the purpose of avoiding, any claim or demand from a third party that your Content or your use of the Service (including by any person using your Account and/or user name and/or password) violates any applicable law or regulation, or the rights of any third party.

    Links to Third Party Sites
    %p The Service may include links to other sites that are not operated by us. We are providing these links to you only as a convenience and are not responsible for the content or links displayed on such sites. You are responsible for and assume all risk arising from your use or reliance of any third party sites.

    %b Termination
    %p If you breach any of these Terms, we have the right to suspend, disable or terminate your access to or use of the Service, at its sole discretion and without prior notice to you. We will not be liable to you or any third party for termination of your access or use of the Service. Any suspension or termination will not affect your obligations to us under these Terms (including, without limitation, ownership, confidentiality, indemnification and limitation of liability), which by their sense and context are intended to survive such suspension or termination. 

    %b Ownership
    %p The Service is protected by copyright, trademark, and other laws of the United States and foreign countries. Except as expressly provided in these Terms, we (and our licensors) exclusively own all right, title and interest in and to the Service, including all associated intellectual property rights.  You may not remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Service. Any comments, suggestions, and feedback (“Feedback”) about the Service that you provide will be our property, to use however we choose and you assign us, all right, title and interest worldwide in such Feedback.

    %b Disclaimers
    %p Your use of the Service is at your own risk. THE SERVICE IS PROVIDED ON AN "AS IS," "AS AVAILABLE" AND "WHERE-IS" BASIS WITH NO WARRANTY OF ANY KIND, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT OF THIRD PARTY RIGHTS. We will not be responsible for any harm to your computer, mobile device or tablet computer, loss of data or other harm that results from your use of the Service. We make no warranty that the Service will meet your requirements or be available on an uninterrupted, secure, or error-free basis.  

    %p The presence of a business on the Service does not imply or constitute any endorsement by us. In addition, we do not verify that any Content that has been submitted by our users (or any claims that are made) is complete, accurate, or reliable, and there is no guarantee that the information has been independently checked or verified by us or any other person or entity.

    %b Limitation of Liability
    %p OUR TOTAL LIABILITY TO YOU FROM ALL CAUSES OF ACTION AND UNDER ALL THEORIES OF LIABILITY WILL BE LIMITED TO THE AMOUNT YOU PAID FOR THE SERVICE AND IN NO EVENT WILL IT EXCEED $50. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE WILL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, DATA, USE, GOODWILL, ANY DAMAGES FOR PERSONAL OR BODILY INJURY OR EMOTIONAL DISTRESS ARISING OUT OF OR IN CONNECTION WITH THESE TERMS, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICE; (ii) ANY CONDUCT OF ANY USER ON THE SERVICE; (iii) ANY CONTENT OBTAINED FROM THE SERVICE; (iv) ANY COMMUNICATIONS, INTERACTIONS OR MEETINGS WITH OTHER USERS OF THE SERVICE OR OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SERVICE; AND (v) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT, AND IN EACH CASE, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, WHETHER OR NOT WE HAVE BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.  

    %b Exclusions
    %p Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the limitations above may not apply to you.

    %b General
    %p These Terms will be governed by and construed in accordance with the laws of the State of California, without regard to or application of conflict of laws rules or principles. Our failure to enforce any right or provision of these Terms will not be deemed a waiver of such right or provision. In the event that any provision of these Terms is held to be invalid or unenforceable, the remaining provisions of these Terms will remain in full force and effect.  These Terms constitute the entire agreement between us regarding the Service, and supersede and replace any prior agreements between us regarding the Service. We may revise these Terms from time to time, and we will try to provide at least 30 days notice prior to any new terms taking effect. By continuing to access or use the Service after those revisions become effective, you agree to be bound by the revised Terms.

    Contacting Us
    %p If you have any questions regarding these Terms please  email support@nReduce.com

    %p Effective: 11/21/2012
