.request
  .center
    .tutorial_header So you want to find the link to a tweet....
    .tutorial_txt 
      1) Log into 
      %span= link_to 'Twitter.com', 'http://www.twitter.com', :target => '_blank'
    .tutorial_txt 2) Find the tweet you want to have retweeted
    .tutorial_txt 3) Click the "Expand" link
    = image_tag "expand.png"
    .tutorial_txt 4) Click the "Details" link
    = image_tag "details.png"
    .tutorial_txt 5) When you see a page with only the tweet on it, use that URL :)
    = image_tag "victory.png"
