<div class="container">
  <div style="height: 40px; background: #DAEBFD; width: 700px; padding: 10px; margin: 0 0 20px 0; box-shadow: 0 0 10px #aaa">
    <img src="http://nreduce.com/img/nreduce_logo_small.png">
  </div>
  <div class="row">
    <div class="span8">
      <p style="font-size: 16px !important; line-height: 1.6">
        Thanks for signing up with nReduce (formerly NCombinator). We're still on track to start June 5th, 2012. That's less than 1 week away.
      </p>

      <p style="font-size: 16px !important; line-height: 1.6">
        The philosophy of nReduce is simple: we're living in unprecedented times of access and the opportunities for product builders are countless. We started nReduce to help like minded entrepreneurs build their businesses rather than waiting for an investor or incubator to write them a hall pass. We're excited that you've chosen to take part!
      </p>

      <p style="font-size: 16px !important; line-height: 1.6">
        Your involvement is crucial for the success of the nReduce community. The best way to support fellow community members is by following the three rules for participation: ship, share and support.  In preparation for this inaugural cycle we are working hard to get you sponsors, resources, and organize a support network to help you execute your vision. If you have any leads on sponsors or resources that you think would fit well with nReduce, we'd love to hear from you (email contact@nreduce.com or just reply to this email).
      </p>

      <p style="font-size: 16px !important; line-height: 1.6">
        To participate in the Summer 2012 nReduce batch, we'll need a bit of information about your startup. Please click the link below to confirm your email and register your startup team.<br>
        <strong>
          <%= link_to @confirm_url, @confirm_url %>
        </strong>
      </p>

      <p style="font-size: 18px !important; line-height: 1.6">
        Thanks,<br>
        The nReduce Team
      </p>
    </div>
  </div>
</div>
