.success_modal.modal.center.hide
  .modal-header
    %button.close{:type => 'button', 'data-dismiss' => 'modal'} x
    %h2{:style => 'margin-bottom: 5px'} Way to do it!
  .modal-body
    .smalltext You just earned 
    .bigmessage
      .left.bigtext +#{@response.amount_paid}
      .left.coinimage= image_tag "successcoin.png"
      .clear
    .smalltext By helping the #{@response.request.startup.name} Founders Build their startup.
    .mediumtext You Rock!