.responses
  .center
    %h2 Respond to #{@request.type_human} Request
  %hr/

  = form_for [@request, @response] do |f|
    .center= f.submit 'Begin', :class => 'btn btn-large btn-success'

  / .row
  /   .span5.offset4.center= render 'responses/form'

