.row
  .span3
    %p &nbsp;
  .span6.well{:align => 'center', :style => 'padding: 40px 20px 40px 20px'}
    %h1 nReduce
    %br/
    %p
      %strong An alliance of creators built on accountability and community
    %br/
    %a.btn.btn-large{:href => '/auth/twitter'}
      = image_tag('twitter_32.png')
      Sign In With Twitter
    %a.btn.btn-large{:href => '/auth/linkedin'}
      = image_tag('linkedin_32.png')
      Sign In With LinkedIn
  .span3

= render 'devise/shared/sign_in_sign_up'
      
