.investors 
  = render 'startups/investment_profile'
  %br/
  %center
    = link_to 'Connect', new_startup_rating_path(@startup, :interested => true), :class => 'btn btn-large btn-success', :remote => true
    &nbsp;&nbsp;
    = link_to 'Pass', new_startup_rating_path(@startup, :interested => false), :class => 'btn btn-large', :remote => true

  #rating_modal.hide

