.posts
  %h1 All Posts

  - unless @hottest_post.blank?
    %hr/
    %h3 Hottest Post in last 24 hours
    = render @hottest_post
  %hr/
  %br/
  %br/

  #comments
    = render :partial => 'comments/form', :object => Comment.new
    .list
      - @comments.each do |c|
        = render c, :show_original => c.original.present? ? true : false