.posts
  %h1 Welcome to the Water Cooler!

  - unless @hottest_post.blank?
    %hr/
    %h3 Hottest Post in last 24 hours
    = render @hottest_post
  %hr/
  %br/
  %br/

  #comments
    = render :partial => 'comments/post_form', :object => Comment.new, :post => true
    .list
      - @comments.each do |c|
        = render c