.board_room {
  .entry_page {
    .box {
      border-radius: 15px;
      border: 4px solid #26A9EB;
      width: 250px;
      height: 250px;
      padding: 10px;
      margin-bottom: 5px;
      color: #666;
      font-size: 20px;
      margin-top: 35px;
    }
    .box.nstar {
      padding-top: 40px;
      height: 210px;
    }
    .box.mentors {
      .number {
        font-size: 140px;
        line-height: 200px;
      }
      height: 240px;
    }
    .box.investors {
      font-size: 60px;
      line-height: 100px;
      padding-top: 40px;
      height: 210px;
    }
    .startup_elements, .checkin {
      margin-left: auto;
      margin-right: auto;
      width: 200px;
    }
    .checkin {
      margin-top: 20px;
      font-size: 16px;
      .week {
        text-align: center; 
      }
      .before, .after {
        margin: 5px;
        text-align: center;
      }
      .completed, .incomplete {
        font-size: 80px;
        line-height: 80px;
      }
      .completed {
        color: green;
      }
      .incomplete {
        color: #666;
      }
    }
  }
  .ranking {
    h2 { font-size: 5em; }
    margin-right: 50px;
  }
  .num_met {
    margin-bottom: 8px;
  }
  .teams {
    margin-top: 15px;
    border-top: 1px solid #efefef;
    .header {
      padding-top: 6px;
      font-weight: bold;
      margin-bottom: -20px;
      .goal { padding-left: 110px; white-space: nowrap; overflow: scroll; }
      .accomplished { margin-left: -30px; }
    }
    .week {
      .description {
        background-color: #fff;
        color: #666;
        font-size: 1.2em;
        padding: 4px;
        margin-top: 30px;
        border-bottom: 1px solid #efefef;
      }
      .team {
        height: 75px;
        overflow-y: hidden;
        padding-top: 8px;
        margin-bottom: 8px;
        background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EFEFEF 100%);
        background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EFEFEF 100%);
        background-image: -o-linear-gradient(top, #FFFFFF 0%, #EFEFEF 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EFEFEF));
        background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EFEFEF 100%);
        background-image: linear-gradient(to bottom, #FFFFFF 0%, #EFEFEF 100%);

        .team_members {
          padding: 8px 0 0 4px;
        }
        .name, .help {
          padding: 4px;
        }
        .help a, .goal a{
          color: #666;
        }
        .help { padding-right: 15px;}
        .name {
          width: 120px;
          font-weight: 600;
          font-size: 1.4em;
          line-height: 68px;
        }
        .goal, .help {
          line-height: 68px;
          font-size: 1.2em;
        }
        .accomplished, .not_accomplished, .metric {
          font-size: 1.4em;
          font-weight: bold;
          line-height: 68px;
        }
        .metric { white-space:nowrap; }
        .accomplished, .metric .increase {
          color: green;
        }
        .metric .decrease, .not_accomplished {
          color: #666;
        }
      }
    }
  }
}