// Place all the styles related to the Checkins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkins {
  .checkin {
    background-repeat: no-repeat;
    .top {
      width: 200px;
      height: 135px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      padding-top: 5px;
    }
    .middle {
      height: 55px;
    }
    .bottom {
      margin-top: 10px;
    }
    width: 200px;
    margin: 0 15px 25px 0;
  }

}