.first_checkin {
  .checkin_day {
    label { 
      font-size:30px; 
      line-height:45px; 
      padding-top:40px;
      padding-bottom:25px
    }
    .btn-group {
      .active {
        color: white;
        background-color: #51A351;
        text-shadow: none;
      }
    }
  }
}

.checkins {
  .checkin {
    .team_and_nav {
      margin-bottom: 10px;
      .team_members { margin-right: 15px; }
      h4 { margin-top: 4px; margin-bottom: 0px; }
      h5 { margin-top: 4px; }
      .name_and_link { color: #08C;}
      .all_teams { margin-top: 10px; }
    }
    .separator { 
      margin-bottom: 10px;

    }
    .goal_wrapper {
      margin-top: 80px;
      .goal { margin-bottom: 30px; }
      .accomplished { color: #00df00; }
      .missed { color: #999; }
      // see common.css for .in_progress style
    }
    .goal_wrapper.next_week { margin-left: 30px; }
    .goal_wrapper.previous_week { margin-right: 30px; }
    .previous_week_link, .next_week_link {
      .btn {
        padding: 4px 6px;
        margin-bottom: 4px;
      }
    }
    .previous_week_link { margin-right: 12px; }
    .next_week_link { margin-left: 12px; }
    .video { margin-bottom: 8px; }
    .awesome_comment_count { margin-left: 10px; margin-top: 4px; }
    .posted_at { color: #ccc; font-size: .85em; }
    .participants { 
      color: #ccc; 
      font-size: .85em;
      margin-top: 8px; margin-bottom: 20px;
      img { width: 50px; height: 50px; }
    }
    .before_video {
      a { color: #999; }
      #before_video.modal {
        width: 640px;
        height: 470px;
        .modal-body { padding: 20px; }
      }
    }
  }

  .modal#checkin_goal {
    .examples {
      margin-top: 40px;
      margin-bottom:60px;
    }
    .modal-body{
    padding-top:50px;

    }
    .modal-header {
      padding-top:20px;

    }
    .graysmaltext {
      color:#ccc;
      padding-top:20px;
    }
  }

  // Note: styling for checkin progress nav is in onboard.css.scss
  form.checkin {
    .stage {
      .number {
        margin-left: 30px;
        margin-top: 10px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        font-size: 2.2em;
        color: #fff;
        font-weight: bold;
        line-height: 60px;
        text-align: center;
        background-color: green;
      }
      vertical-align: middle;
      font-size: 1.4em;
      line-height: 60px;
    }
    .btn.submit {
      font-size: 1.8em;
      line-height: 1.5em;
      padding: 12px 20px 12px 20px;
      margin-top: 30px;
    }
    .btn-group {
      .active {
        color: white;
        background-color: #51A351;
        text-shadow: none;
      }
    }
    .step2 {
      .control-group {
        margin-bottom: 20px;
      }
      .controls {
        padding-left:25px;
      }
      #instrument_value {
        .control-group { margin-top: 0px; margin-bottom: 0px; padding-top: 0;}
      }
    }
    .step3 {
      padding-bottom:180px;
      h2 {
        padding-top:20px;
        padding-bottom:20px
      }
      .checkin_day_and_time_zone {
        margin-top: 40px;
        h3 { line-height: 1.3em; }
      }
    }
  }
}