body{
  position: relative;
  background-color: #EAEAEA;
  font-family: Open Sans, sans-serif;
  p, textarea{ font-family: Open Sans, sans-serif; }
}

.logo{
  width: 250px;
  height: 94px;
  background: url("/images/nreduce_logo.png") no-repeat;
  margin: auto;
  display: block;
}

.left { float: left; }

.right { float: right; }

.clear{ clear: both; }

.center { text-align: center; }

.inline-block { display: inline-block; }

body.apply {
  > .container {

    .nav {
      margin-bottom: 10px;
      .padding {
        padding-top: 15px;
      }
      hr {
        margin: 8px 0 0 0;
      }
      .right{
        padding-top: 3px;
      }
    }

    padding: 30px;
    background: #fff;


    h2 { margin-bottom: 10px; }

    .intro-text {
      margin-bottom: 10px;
      p {
        font-size: 14px;
        line-height: 1.5;
      }
    }

    form {
      .yes-no {
        margin-bottom: 10px;
        p, select, .errors {
          margin-left: 160px;
        }
      }
      .actions {
        padding-top: 20px;
      }
    }

    hr { margin: 0; }

    .control-group {
      padding-top: 5px;
      padding-bottom: 5px;

      &.with-errors {
        background-color: #F2DEDE;
        border-top: 1px solid #EED3D7;
        border-bottom: 1px solid #EED3D7;
      }

      .errors {
        list-style: none;
        color: darkred;
        margin-top: 10px;
        margin-left: 0;
        font-weight: bold;
      }
    }
  }
}