body{
  position: relative;
  background-color: #EAEAEA;
  font-family: "Open Sans", sans-serif;
  h1,h2,h3,h4,h5,p,textarea {
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
  }
  h3 {
    font-weight: 600;
  }
}
.btn {
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 600;

}

.subtitle {
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;
  color: #B8B8B8;
  font-size: 16px;
}

hr {
  color: #eee;
  height: 1px;
}

.myriad_bold {
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 600;  
}

.myriad_light {
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 300;  
}

.pauline {
  font-family: "pauline",sans-serif;
  font-style: normal;
  font-weight: 400; 
}

.grandma {
  font-family: "grandma",sans-serif;
  font-style: normal;
  font-weight: 400;
}

.logo{
  width: 250px;
  height: 94px;
  background: url("/images/nreduce_logo.png") no-repeat;
  margin: auto;
  display: block;
}

.content_right {
  padding-top: 25px;
  border-left: 1px solid #cccccc;
  padding-left: 30px;
  min-width: 700px;
  min-height: 600px;
}

.left_nav {
  z-index: 2;
  padding-left: 30px;
  width: 170px;

  .profile_tab {
    padding: 15px 10px 15px 0px;
    border-radius: 30px 0px 0px 30px;
    width: 160px;
    text-align: right;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    margin-bottom: 10px;
    font-size: 18px;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */  
    color: #cccccc;
  }

  .current {
    background: #ffffff;
    margin-right: -1px;
    padding-right: 11px;
    color: #000;
  }
  .completed {
    background: #E0FCDF;
    color: #91D88F;
  }

  .clickable {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    color: #666666;
  }

  .uncompleted {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */  
    color: #cccccc;
  }
}

.left { float: left; }

.right { float: right; }

.clear{ clear: both; }

.center { text-align: center; }

.inline-block { display: inline-block; }

body.apply {
  .nstar_banner {
    background: image-url('nstar_banner_s.png') no-repeat right top;
    .clickable {
      cursor: pointer;
      width: 100px;
      height: 80px;
      position: fixed;
      top: 0;
      right: 0;
    }
  }
  > .container {


    .nav {
      z-index: 10;
      margin-right: 20px;
      margin-bottom: 10px;
      .padding {
        padding-top: 15px;
      }
      hr {
        margin: 8px 0 0 0;
      }
      .right{
        padding-top: 3px;
      }
    }

    padding: 30px;
    background: #fff;


    h2 { margin-bottom: 10px; }

    .intro-text {
      margin-bottom: 10px;
      p {
        font-size: 14px;
        line-height: 1.5;
      }
    }

    form {
      .yes-no {
        margin-bottom: 10px;
        p, select, .errors {
          margin-left: 160px;
        }
      }
      .actions {
        padding-top: 20px;
      }
    }

    hr { margin: 0; }

    .control-group {
      padding-top: 5px;
      padding-bottom: 5px;

      &.with-errors {
        background-color: #F2DEDE;
        border-top: 1px solid #EED3D7;
        border-bottom: 1px solid #EED3D7;
      }

      .errors {
        list-style: none;
        color: darkred;
        margin-top: 10px;
        margin-left: 0;
        font-weight: bold;
      }
    }
  }
}

.profile_completeness .progress { width: 250px;}

.glow {
  -moz-box-shadow: 0 0 2px #fff;
  -webkit-box-shadow: 0 0 2px #fff;
  box-shadow: 0 0 2px #fff;
  filter:progid:DXImageTransform.Microsoft.Glow(color='white', Strength='5');
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding: 20px 0 100px 0;
  a {
    padding: 0px 20px 0px 20px;
    color: #999;
  }

}
