// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey: #d6d6d6;
$ltgrey: #f1f2f6;
$dkgrey: #333;
$ltblue: #eef6fb;
$blue: #2d71cb;

a {
  img {
    border: 0;
  }
}

.comments, #comments {
  padding-left: 10px;
  background-color: $ltgrey;
  .title {
    font-weight: bold;
  }
}
.comment {
  border-top: 1px solid $grey;
  padding: 4px 10px 4px 10px;
  margin-bottom: 15px;
  font-size: .9em;
  .controls {
    .left {
      margin-right: 6px;
    }
    display: none;
  }
  .time {
    font-size: .9em;
    color: #999;
    margin-top: -3px;
  }
  .content {
    font-size: 1.1em;
    padding-top: 5px;
    p { width: 480px; }
    textarea { width: 375px; }
  }
  .pic {
    width: 50px;
    margin-right: 10px;
  }
}

.new_comment, .edit_comment {
  margin-bottom: 0px;
  .comment {
    padding-top: 10px;
    margin-bottom: 0px;
  }
  .content{
    padding: 12px 0 12px 0;
  }
}

.nested_comments {
  margin-left: 35px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}