// Place all the styles related to the Investors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.investors {
  .startup {
    .startup_elements {
      .element {
        margin-bottom: 15px;
        font-size: 1.5em;
      }
    }
    .well {
      width: 90%;
      .progress{
        width: 100%;
      }
    }
    .headline {
      .name {
        h2 { 
          font-weight: 600;
        }
        padding: 10px;
      }
      .details {
        padding: 10px;
      }
    }
    .video {
      width: 500px;
      height: 315px;
      margin: 0 15px 15px 0;
    }
    .traction {
      width: 500px;
    }
    .chart {
      width: 500px;
      height: 300px;
    }
    .team_members {
      .team_member {
        margin: 0 20px 15px 0;
      }
    }
    #screenshots_modal.modal {
      margin: -340px 0 0 -530px;
      width: 1054px;
      height: 680px;
      #screenshots_carousel, .modal-body {
        width: 1024px;
        height: 650px;
        max-height: 650px;
      }
      .carousel {
        .item {
          img {
            margin-left: auto;
            margin-right: auto;
            display: block;
            max-height: 650px;
          }
        }
      }
    }
    .screenshot {
      margin-right: 15px;
      border: 1px solid #ccc;
    }
    .checkin_history {
      margin-right: 15px;
      .checkin {
        width: 8px;
        height: 8px;
        margin: 0 3px 3px 0;
        border: 1px solid #ccc;
      }
      .checkin.done {
        background-color: #ccc;
      }
    }
    ol {
      margin-left: 35px;
      li {
        padding-bottom: 4px;
      }
    }
  }
  .weakest_element, .contact_in { min-width: 124px;}
  .contact_in_description {
    width: 116px;
    padding: 2px;
    margin: 0px;
    font-size: .8em;
    vertical-align:text-top;
    text-align: center
  }
}

.investor_profile {
  select { width: 100px; }
}