.topdash {
  border-bottom-right-radius: 140px;
  border-bottom-left-radius: 140px;
  height: 140px;
  width:280px;
  background-color: #ffffff;
  opacity: 0.8;
  border-right-style:solid;
  border-bottom-style:solid;
  border-left-style:solid;
  border-width: 5px;
  border-color: #3697D5;
}
.pbody {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width:1130px;
  opacity: 0.8;
  background-color: #ffffff;
  border-top-style:solid;
  border-right-style:solid;
  border-bottom-style:solid;
  border-left-style:solid;
  border-width: 5px;
  border-color: #3697D5;

}
.solid {
    opacity: 1;
}
.btndown {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #999999;
  box-shadow: inset 2px 2px 3px #333333
}