img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.wrapper.logged_out {
  .nav {
    margin-top: 10px;
  }
  .body {
    margin-top: 30px;
  }
  .sign_in, .join {
    margin-top: -30px;
  }
  .sign_in {
    h2 { margin-bottom: 20px;}
    .password_group { margin-bottom: 10px; }
    .rememberable {
      margin-top: 15px;
      margin-left: 50px;
      font-size: .9em;
      .label_tag {
        margin-left: 4px;
        margin-top: 3px;
      }
    }
    .social_login {
      margin-top: 30px;
    }
    .forgot_password {
      margin-top: 15px;
    }
  }
}

.wrapper.logged_in {
  // Style the container here
  background: none;
  position: relative;
  > .container {
    padding: 0 30px 0 30px;
    width: 1200px;
    background: #fff;
    border-right: 3px solid #26A8EB;
    border-left: 3px solid #26A8EB;
    .greylink {
      a {
        color: #999999;
      }
    }
    > .header {
      margin: 0 -30px 0 -30px;
      .navbar {
        .navbar-inner {
          border-radius: 0px;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid #D4D4D4;
          a.logo {
            padding: 0;
            margin: 0 0 0 -20px;
            img {
              width: 40px;
              height: 40px;
            }
          }
          .add_teams {
            margin-left: 50px; 
          }
        }
      }
    }

    .body {
      .postcontent {
        border-top: none;
        font-size: 1.8em;
        padding-top: 5px;
        line-height:150%;
        p { width: 600px; }
          textarea { width: 575px; }
        }
      .commentlinks {
        color: #666666;
        a {
          color: #888888;
        }
      }
    }
    .footer {
      padding: 20px 0 30px 0;
      a {
       padding: 0px 20px 0px 20px;
      }

    }
  }
}

// Could add additional background images like:
// .hub_amsterdam {
//    .wrapper {
//      background-image...
//    }
// }