.onboard {
  .buttons, .buttons input, .buttons a {
    font-size: 30px;
    line-height:40px;
    font-weight: bold;
  }
  .form-actions {
    border: 0px;
    background-color: transparent;
  }
  .inline-block {
    display: inline-block;
  }

  .status_bar {
    .text {
      padding-left: 160px;
    }
    .button {
      padding-left: 15px;
    }
  }

  .navbar {
    margin-top: 25px;
    margin-bottom: 25px;
    .navbar-inner {
      padding-left: 0px;
      padding-right: 0px;
      background-color: #Fff;
      box-shadow: none;
      background-image: none;
      .nav {
        margin-left: auto;
        margin-right: auto;
        left: 7%;
        li.completed a, li.active a {
          background-color: #24a7ea;
        }
        li.completed a {
          color: #1a80b3;
        }
        li a {
          font-size: 1.3em;
          line-height: 20px;
          background-color: #F8F8F8;
          font-weight: bold;
          padding-left: 35px;
          padding-right: 35px;
          text-shadow: none;
        }
        li a:hover {
          color: #000;
        }
      }
    }
  }
}