.onboard {
  .buttons, .buttons input, .buttons a {
    font-size: 30px; 
    line-height: 36px;
    font-weight: bold;
  }
  .form-actions {
    border: 0px;
    background-color: transparent;
  }
  .inline-block {
    display: inline-block;
  }
}