.home_page {
  h1 {
    padding-top:15px;
    padding-bottom:30px;
    font-size: 80px;
    color: #26A9EB;
    
  }
  h2 {
    font-family: "pauline",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px; 
    color: #999999;

  }
  .headspacing {
    padding: 25px 0px 0px 50px
  }
  .linkedinbtn {
    padding: 50px 100px 100px 0px;

  }
  .linkedintxt {
    color: #ff9900;
    padding: 63px 20px 50px 50px;
    font-size: 40px;
  }
  .scriptfeature {
    font-style: bold;
    font-weight: 400;
    font-size: 36px;
    color: #999999;
    line-height:250%;

  }
  .newslogos {
    padding: 20px 10px 20px 10px;

  }

  .exheading {
    padding: 40px 25px 0px 50px;
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 600; 
    font-size: 22px; 
    color: #999999;

  }
  .extext {
    padding: 20px 25px 0px 50px;
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 300; 
    font-size: 18px;
    line-height:150%;
    color: #999999;
  }
}
.nstar {
  background-image: image-url("nstarsbkg.jpg") no-repeat left;

  .slide {
    align: center;
    margin-top: 20px;
    background-color: #ffffff;
    height: 400px;
    margin-left: 200px;
    width: 800px;
    border: 1px solid #000000;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 2px 5px #ccc;
  }

  .scrollblock {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 860px;
    padding: 0;
    .scroll-content {
      z-index: 1000;
      padding: 100px 0px 100px 0px;
      position: relative;
      padding: 40px;
    }
  }

  .slide_bg{
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
    position: relative;
    top: 0;
    left: 0;
  }

  #slide_1_bg {
    background: image-url("small-box.png");
  }
  #slide_2_bg {
    background: image-url("small-box-colored.png");
  }

  h1 {
    padding-top:15px;
    padding-bottom:30px;
    font-size: 50px;
    color: #26A9EB;
    line-height:250%;
    text-align: center;
    
  }
  h2 {
    padding-top:15px;
    padding-bottom:30px;
    font-size: 30px;
    color: #26A9EB;
    line-height:150%;
    text-align: center;
    
  }
  



}
