.home_page {
  h1 {
    padding-top:15px;
    padding-bottom:30px;
    font-size: 80px;
    color: #26A9EB;
    line-height: 70px;
    
  }
  h2 {
    font-size: 40px; 
    color: #999999;

  }
  h3 {
    font-weight: 400;
    font-size: 25px; 
    color: #999999;

  }
  .headspacing {
    padding: 25px 0px 0px 50px
  }
  .linkedinbtn {
    padding: 20px 0px 20px 0px;

  }
  .share_btns {
    padding: 25px 0px 0px 50px
  }
  .linkedintxt {
    color: #cccccc;
    padding: 50px 00px 10px 00px;
    font-size: 30px;
  }

  // .tk-museo-sans
  .scriptfeature {
    font-family: "museo-sans",sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #666666;
    line-height:200%;

  }
  .newslogos {
    padding: 20px 10px 20px 10px;

  }

  .exheading {
    padding: 40px 25px 0px 50px;
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 600; 
    font-size: 22px; 
    color: #999999;

  }
  .extext {
    padding: 20px 25px 0px 50px;
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 300; 
    font-size: 18px;
    line-height:150%;
    color: #999999;
  }
  .jobtitle {
    padding-top:10px;
    padding-left:10px;
  }
}
.about_page {
  h2 {
    padding-top:15px;
    padding-bottom:0px;
    padding-left:30px;
    padding-right:30px;
    font-size: 35px;
    color: #00a8ef;
    line-height:150%;
    font-weight: 700; 

  }
  h3 {
    padding-top:0px;
    padding-bottom:15px;
    padding-left:30px;
    padding-right:30px;
    font-size: 25px;
    color: #55B4EF;
    line-height:150%;
    font-weight: 300; 

  }

}
.newmodel {
  p {
  margin: 5px 100px 15px 100px;
  font-size: 18px;
  line-height:150%;
  font-weight: 300; 
  }

  h3 {
    margin: 0px 100px 0px 100px;
    font-size: 35px;
    line-height:150%;
    font-weight: 700;

  }
  h4 {
    margin: 10px 100px 0px 100px;
    font-size: 25px;
    line-height:150%;
    font-weight: 700;
    color: #999999;

  }

}
.nstarjoe {
  h3 {
    align: center;
    height: 400px;
    font-size: 60px;
    color: #55B4EF;
    line-height:150%;
    margin: 250px 180px 0px 180px;
    font-weight: 300;

  }
  h2 {
    align: center;
    font-size: 170px;
    color: #55B4EF;
    line-height:150%;
    margin: 0px 100px 0px 100px;
    font-weight: 700; 

  }
  h4 {
    align: center;
    font-size: 100px;
    color: #55B4EF;
    line-height:100%;
    margin: 0px 100px 0px 100px;
    font-weight: 700; 

  }
  .demoday {
    text-align: left;
    font-size: 16px;
    color: #999999;
    line-height:200%;
    margin: 20px 0px 50px 0px;
    font-weight: 300;

  }



}
.nstar {
  background-image: image-url("nstarsbkg.jpg") no-repeat left;
  .rsvp {
    .email { 
      font-size: 35px; padding: 5px;
    }
  }
  .slide {
    align: center;
    margin-top: 20px;
    height: 400px;
    margin-left: 200px;
    width: 800px;
  }

  .scrollblock {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 860px;
    padding: 0;
    .scroll-content {
      z-index: 1000;
      padding: 100px 0px 100px 0px;
      position: relative;
      padding: 40px;
    }
  }

  .slide_bg{
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
    position: relative;
    top: 0;
    left: 0;
  }

  #slide_1_bg {
    background: image-url("nstarbkg1.png");
  }
  #slide_2_bg {
    background: image-url("nstarbkg2.png");
  }
  #slide_3_bg {
    background: image-url("nstarbkg3.png");
  }

  h1 {
    padding-top:15px;
    padding-bottom:30px;
    font-size: 50px;
    color: #26A9EB;
    line-height:250%;
    text-align: center;
    
  }
  h2 {
    padding-top:15px;
    padding-bottom:30px;
    font-size: 30px;
    color: #26A9EB;
    line-height:150%;
    text-align: center;
    
  }
  



}
