// Place all the styles related to the Ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating{
  .rating-form {
    form { margin: 0; }
    .with-errors { padding-left: 10px; }
  }
}