// Place all the styles related to the Checkins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.relationships, .weekly_classes {
  .wkrheader {
    .wkrtitle {
      color:#999;
      font-size: 1.7em;
      line-height:3.0em;
    }
    .askbutton {
      margin: 10px 0px 0px 0px;
    }
    .bigcoin {
      padding-right:20px;
    }
    .coinlabel {
      color:#ccc;
      font-size: .7em;
      margin-right: 15px;
    }

    .bigcount {
      color:#FF9900;
      font-size: 3.5em;
      font-weight: bold;
      padding-top:10px;
      padding-right:5px;
    }
  }
  .helpexchange {
    .alert { margin-top: 10px; }
    margin-right: -15px;
    padding-right: 15px;

    .success_modal {
      color: #FF9900;
      width: 500px;
      .smalltext {
        font-size: 1.0em;
        padding-top:20px;
        padding-bottom: 20px;

      }
      .bigmessage {
        width: 500px;
      }
      .mediumtext {
        font-size: 1.7em;
        padding-top:20px;
      }
      .bigtext{
        font-size: 9.7em;
        line-height:1.0em;
        vertical-align: none;
        width: 260px;
        text-align:right;
      }
      .coinimage {
        width:150px;
      }
    }


    .columnTitles {
      margin-left: 5px;
      padding-top:5px;
      p { 
        color: #ccc;
        font-size: .7em;
        line-height: 0em;
        width: 50px;
        text-align: center;
        font-weight:bold;
      }
    }

    .taskheader {
      color: #999;
      font-size: .8em;
      line-height: 1.5em;
      padding-top:10px;
      padding-left:5px;
    }

    .viewmore {
      background-color: #fff;
      background-image: -moz-linear-gradient(top, #F7F7F7, #fff);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F7F7F7), to(#fff));
      background-image: -webkit-linear-gradient(top, #F7F7F7, #fff);
      background-image: -o-linear-gradient(top, #F7F7F7, #fff);
      background-image: linear-gradient(to bottom, #F7F7F7, #fff);
      background-repeat: repeat-x;
      padding: 5px 5px 5px 5px;
      border: 0px solid #E4E4E4;
      width: 562px;
      max-height: 17px;
      color: #ccc;
      font-size: .7em;
      line-height: 1.3em;
      text-align:center;

    }

    .task {
      background-color: #fff;
      background-image: -moz-linear-gradient(top, #fff, #ECECEC);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ECECEC));
      background-image: -webkit-linear-gradient(top, #fff, #ECECEC);
      background-image: -o-linear-gradient(top, #fff, #ECECEC);
      background-image: linear-gradient(to bottom, #fff, #ECECEC);
      background-repeat: repeat-x;
      padding: 5px 5px 5px 5px;
      border: 1px solid #E4E4E4;
      width: 560px;
      max-height: 62px;
      .pic img { width: 50px; height: 50px; }

      .coin {
        padding-top: 3px;
        .count {
          color:#FF9900;
          font-size: 1.2em;

        }
        text-align: center;
        width: 50px;

      }
      .summary {
        padding-left:5px;
        padding-top:3px;
        .title {
          color: #999;
          font-size: .8em;
          line-height: .8em;
          padding : 1px 0px 3px 0px;
          font-weight:bold;
        }
        max-width: 235px;
        max-height: 62px;
        color: #999990;
        font-size: .9em;
        line-height: 1.25em;

      }
      .rtbutton {
        .cancel { 
          text-align: center;
          a { color: #999; }
        }
        .open { color: #5BB75B; font-weight: bold; }
        padding: 5px 0px 0px 10px;
        max-width: 110px;
        h4 { text-align: center; width: 100px; margin-bottom: 2px; margin-top: 0px; }
        .btn-large {
          font-size: 16px;
          padding: 8px 15px;
          width: 100px;
        }
        form { margin-bottom: 0px; float: right; }
      }
    }
  }


  .feed {
    margin-right: -15px;
    padding-right: 15px;
    border-right: 1px solid #ccc;
    .item {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 15px;
      margin-top: 15px;
    }
    .checkin {
      .body { margin-top: 8px; }
      .time { font-size: .8em; }
      .headline { margin-left: 10px; }
      .team_name { font-size: .8em; color: #999; }
      .pics img {
        width: 50px;
        height: 50px;
      }
      .goals {
        max-width: 240px;
        .goal_wrapper {
          p { margin-bottom: 2px; }
          margin-bottom: 20px;
          color:#999999;
          font-size: .9em;
          .goal_state { 
            margin-right: 5px;
            .box { margin-right: 0px; }
          }
          .goal { 
            line-height: 1.4em;
            max-width: 195px;
            max-height: 62px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .awesome_comment_count {
        p { 
        margin-bottom: 2px; 
        font-size: .8em;
        color:#999999;
        }
      }
      .video { 
        width: 320px;
        margin-right: 10px;
        margin-bottom: 5px;
      }
      .action_buttons .left {
        margin-left: 10px;
        margin-bottom: 8px;
      }
      .participants {
        img { width: 50px; height: 50px; }
        .others {
          width: 50px;
          height: 36px;
          background-color: #666;
          line-height: 1em;
          font-size: .8em;
          text-align: center;
          color: #efefef;
          padding-top: 10px;

        }
      }

    }
  }
  .inactive_teams {
    margin-top: 20px;
  }
  .invite_form {
    padding-top: 10px;
  }
  .team {
    .top {
      position: relative;
      top: 0;
      width: 200px;
      height: 200px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      .status {
        top: 10px;
        width: 98%;
        margin-left:auto;
        margin-right:auto;
        .btn {
          float: none;
          margin: 0px;
        }
      }
      .members {
        height: 55px;
        margin-left:auto;
        margin-right:auto;
        width: 98%;
        position: absolute;
        bottom: 0;
      }
      .background {
        position: absolute;
        top: 0;
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
        filter: alpha(opacity=65);
        -moz-opacity:0.65;
        -khtml-opacity: 0.65;
        opacity: 0.65;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        border: 2px solid #ccc;
        .startup_spinner {
          margin-top: 100px;
        }
      }
    }
    .bottom {
      margin-top: 10px;
      h3 { 
        margin-bottom: 2px;
        line-height: 1.4em;
      }
    }
    margin-bottom: 25px;
  }

  .teams {
    .header {
        text-align: center;
        padding: 10px;
      }
    .suggested {
      .block{
        margin-left: -10px;
        margin-bottom: 20px;
        .team{
          width: 240px;
        }
        .team_details {
          width: 290px;
        }
      }
    }
  }

  .relationship_request {
    h4 { 
      font-size: 1.25em;
    }
    .progress {
      margin-top: 15px;
    }
    .message {
      margin-top: 15px;
      font-size: 1.5em;
      font-weight: 600;
    }
    .btn {
      line-height: 1.6em;
      margin-bottom: 15px;
      min-width: 150px;
    }
    .startup {
      margin-top: 15px;
      .logo_and_details {
        .name { font-weight: bold; }
      }
      .name {
        font-size: 1.4em;
        margin: 15px 0 4px 0;
      }
      .startups_in_common {
        max-width: 350px;
        margin-top: 15px;
      }
      .square {
        margin-right: 15px;
        width: 220px;
        float: left;
      }
      .stats {
        margin-top: 5px;
        margin-right: 15px;
        text-align: center;
        width: 130px;
        float: left;
        h2 {
          margin-top: 15px;
          margin-bottom: 3px;
          line-height: 26px;
        }
      }
      .team_member {
        .location { margin-bottom: 15px; }
        margin-left: 4px;
      }
      .logo_and_details, .team_member {
        .rounded {
          border: 1px solid #ccc;
          margin: 0 10px 0 10px;
          
        }
      }
    }
    .website {
      margin-top: 50px;
      a { font-size: 1.4em;}
      .iframe {
        margin-top: 15px;
        border: 2px solid #ccc;
      }
    }
  }
}

