// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.responses {
  .howto_modal {
    height: 450px;
    width: 600px;
    .modal-body {
      padding: 20px;
    }
  }
}