// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.responses {
  .howto_modal {
    height: 450px;
    width: 600px;
    .modal-body {
      padding: 20px;
    }
  }
  .instructions, .website {
    h3 { margin-bottom: 0px; margin-top: 0px; }
  }
  .website {
    .new_window { text-align: bottom; line-height: 40px; }
    margin-top: 10px;
    iframe { border: 2px solid #ccc; }
  }
  .header {
    h2 { margin-top: 0px; margin-bottom: 0px; }
  }
  .team {
    img { width: 50px; height: 50px; }
    margin-bottom: 15px;
  }

  .response_status {
    margin-bottom: 20px;
  }

  .start_video {
    margin-top: 15px;
    .btn { 
      font-size: 2.2em;
      line-height: 1em;
    }
  }

  .video_form {
    .screenr_embed {
      padding-top: 0;
    }
  }
}