.onboard {
  .buttons, .buttons input, .buttons a {
    font-size: 30px; 
    line-height: 36px;
    font-weight: bold;
  }
  .form-actions {
    border: 0px;
    background-color: transparent;
  }
  .inline-block {
    display: inline-block;
  }
}

body.apply > .container .onboard .control-group {
  padding: 8px;
}

body.apply > .container .onboard hr {
  margin-bottom: 15px;
}


.search {
  .relationship {
    .btn { width: 150px; }
  }
  .community_status {
    padding: 6px;
    max-width: 150px;
  }
}

.countdown_and_checkin {
  position: relative;
  height: 70px;
  .checkin_button {
    height: 70px;
    position: relative;
    right: 0;
    top: 30%;
  }
  #countdown {
    margin-top: -15px;
    .number_block{
      padding: 0 12px;
      margin: 0 0 0 4px;
      height: 68px;
      text-align: center;
      .numbers {
        position: relative;
        overflow: hidden;
        font-size: 35px;
        line-height: 40px;
        padding: 12px 0 0;
        span {
          position: relative;
        }
        height: 46px;
      }
      p {
        margin-top: -10px;
        padding: 0;
        font-weight: normal;
        font-size: 1em;
        color: #999;
      }
    }
  }
}