.account_type {
  border: 1px solid #cccccc;
  border-radius: 20px;
  margin-top: 40px;
  width: 450px;
  box-shadow: 2px 2px 5px #ccc;
  padding: 25px 50px 0px 50px;
  h2 {
    padding-top: 5px;
    line-height: 30px
  }
  .type {
    padding-top:30px;
    padding-bottom:30px;
    padding-right:50px; 
    .text {
      font-size: 36px;
      color: #999999;
      padding-left: 10px;
    }
  }
  .center {
    margin-top: 10px;
  }

  .radiotext {
    padding-left: 20px;

    
  }
}

