// Place all the styles related to the WeeklyClasses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  .weekly_classes {
    #world_map { 
      width: 780px;
      height: 312px;
    }
    .join_stats {
      h2 {
        margin: 10px 0 0px 0;
      }
    }

    #countdown {
      height: 140px;
      text-align: center;
      margin: 0px auto;
      width: 700px;
      line-height: 2em;
      .number_block {
        font-size: 2em;
        line-height: 1em;
        p { 
          margin: 10px;
        }
        .numbers {
          font-size: 2.8em;
          font-weight: 600;
          margin: 20px;
        }
      }
    }
  }
}