.row.onboard
  .span3
    %p
  .span6
    %br
    %h1 Welcome to nReduce!
    %br
    :plain
      <iframe width="500" height="315" src="http://youtu.be/vL3WHS6BTG4" frameborder="0" allowfullscreen></iframe>
    %br
    %center
      %br
      %h2 Ready to learn more?
      %br 
      .buttons
        = button_to 'Continue', onboard_next_user_path(current_user), :method => :post, :class => 'btn btn-success btn-large'
  .span3
    &nbsp;
