.span4
  %p
.span4
  %br
  %h1 Last Step! 
  %h3 Record a 30 second intro video!  
  %p We ask everyone in the community to introduce themselves.  We find it helps create community and helps us better understand who we are working with.  This video will be private to the nReduce community.
  %br
  %h3 1) Record a 30 second Introduction Video including:
  %h3 
    %small - A quick introduction.
  %h3 
    %small - Why do you like helping startups?
  %br
  %h3 2) Post to Youtube and set the video's sharing settings to unlisted
  %br
  %h3 3) Paste the URL in the below form
  %br
  %center
    %br
    %h2 Ready to go?
    .buttons
      = button_to 'Join nReduce!', "#", :class => 'btn btn-success btn-large'