.span4
  %p
.span4
  %br
  %br
  %h3 Okay, what is nReduce?
  %br
  %h1 nReduce is a free online startup incubator
  %br
  %br
  %h1 Great!
  %h3 How does it work?
  %br 
  %h3 1) Startups from anywhere in the world can join
  %br
  %h3 2) Startups stay in nReduce until they no longer need it
  %br
  %h3 3) Each startup "connects" with up to 8 other startups
  %br
  %h3 4) These groups give each other feedback
  %br
  .center
    %h2 Make sense?
    .buttons
      = button_to 'Yes', "#", :class => 'btn btn-success btn-large'
      = button_to 'No', "#", :class => 'btn btn-large' 
 





