.row.onboard
  .span6
    %br
    %h1 Okay, so what is the weekly schedule?
    %br 
    %br
    %h3 1) The week starts on Wednesday when startups submit "Before" videos and set a goal for the week.
    %br
    %h3 2) The next Tuesday they submit an "After" video documenting their progress.
    %br
    %h3 3) If they submit an "After" video they get feedback.
    %br
    %h3 4) If they don't, it is recorded that they missed a week.
    %br
    %br
    %center
      %h2 Make sense?
      = render :partial => 'users/onboard/buttons'