
.span3
  %p
.span6
  %br
  %h1 Welcome to nReduce!
  %h3
    %small 2 minute mentor Intro Video
  %br
  %br
  %center
    %br
    %h2 Ready to learn more?
    %br 
    .buttons
      = button_to 'Continue', "#", :class => 'btn btn-success btn-large'
