.row.onboard
  .span3
    &nbsp;
  .span6
    %br
    %h1 So what are the expectations of Mentors?
    %br
    %h3 What is private stays private
    %br 
    %p nReduce is a community of people who are sharing their progress with each other.  The only way for this sharing to continue is for people to be able to trust each other.  You as a mentor will learn private information about the startups you are helping.  It is expected that mentors will not publicly share the private information that they learn through nReduce and conduct themselves in good faith. 
    %br
    %h3 Mentors engage with each of their startups each week
    %br 
    %p Giving startups weekly feedback really helps them execute on their business.  
    %br
    %center
      %br
      %h2 Still interested in mentoring?
      = render :partial => 'users/onboard/buttons'
  .span3
    &nbsp;