.row
  .span6.offset3
    %h2.center{:style => 'padding-top:20px; padding-bottom:20px'} Awesome! 
    %h3 What is your goal for next week?
    .controls
      = f.text_field :next_week_goal, :style => 'height: 30px; line-height:24px; font-size:22px', :class => "span6 checkin_start_focus", :placeholder => "Enter goal here..."
      = f.semantic_errors :next_week_goal
    %p{:style => 'padding-top:30px; padding-bottom:180px'} Example Goals:  Talk to 5 Customers, Improve Sign Up UX, Close Angel Round

  .span2.offset1
    .formbtn=link_to 'Continue','#', :class => 'btn btn-large btn-success'