.row
  .span5
    .control-group{error_css(@checkin, :next_week_goal)}
      %p
        &nbsp
      = f.label :next_week_goal, "Next Week's Goal:", :style => 'font-size:38px; margin-bottom:40px; margin-top:40px', :maxlength => 255, :class => 'control-label'
      .controls
        = f.text_field :next_week_goal, :style => 'height: 30px; line-height:24px; font-size:22px', :class => "span4 checkin_start_focus", :placeholder => "Test, Ship or Hustle..."
        = f.semantic_errors :next_week_goal

    = render 'startups/checkin_day_and_time_zone', :f => f