- body_attrs :class => "apply"

- content_for :subtitle do
  Check-in

- hide_nav = @checkin.submitted?

%h2 Check-in for #{@checkin.time_label}
.row
  .span7
    = semantic_form_for @checkin, :html => {:class => "form-horizontal"} do |f|
      = render 'checkins/fields', :f => f
  .span5
    = render 'checkins/before_video_faq'
    