- body_attrs :class => "apply"

- content_for :subtitle do
  Check-in

- hide_nav = @checkin.submitted?

%h2.center Check-in for #{@checkin.time_label}
%hr
.row
  .span12
    = semantic_form_for @checkin, :html => {:class => "form-vertical"} do |f|
      = render 'checkins/fields', :f => f


= render 'instruments/modal'
    