- if flash[:notice].present?
  .alert.alert-success
    %a{:class => "close", :href => "#", "data-dismiss" => "alert"} x
    %p= raw flash[:notice]

- if flash[:alert].present?
  .alert.alert-error
    %a{:class => "close", :href => "#", "data-dismiss" => "alert"} x
    %p= raw flash[:alert]
