.left_nav{:align => 'right'}
  - css = ['completed']
  - if @account_setup_action == [:users, :account_type]
    - css = ['current', 'uncomplete']
  .profile_tab{:class => css.join(' ')} Account Type
  - css -= ['current']
  - if @account_setup_action == [:onboard, :start]
    - css = ['current', 'uncomplete']
  .profile_tab{:class => css.join(' ')} Intro to nReduce
  - css -= ['current']
  - if @account_setup_action == [:users, :edit]
    - css = ['current', 'uncomplete']
  .profile_tab{:class => css.join(' ')} Create Profile
  - css -= ['current']
  - if current_user.entrepreneur?
    - if @account_setup_action == [:startups, :new]
      - css = ['current', 'uncomplete']
    .profile_tab{:class => css.join(' ')} Create Startup
    - css -= ['current']
    - if @account_setup_action == [:startups, :invite_team_members]
      - css = ['current', 'uncomplete']
    .profile_tab{:class => css.join(' ')} Build Team
    - css -= ['current']
    - if @account_setup_action == [:startups, :intro_video]
      - css = ['current', 'uncomplete']
    .profile_tab{:class => css.join(' ')} Post Team Video
    - css -= ['current']
  - if current_user.mentor? or current_user.investor?
    - if @account_setup_action == [:startups, :invite]
      - css = ['current', 'uncomplete']
    .profile_tab{:class => css.join(' ')} Invite Startups
    - css -= ['current']
  - if @account_setup_action == [:users, :welcome]
    - css = ['current', 'uncomplete']
  .profile_tab.inactive{:class => css.join(' ')} Enter nReduce  
  .hide
    .profile_tab.active Completed
    .profile_tab.current Current Action
    .profile_tab.inactive Uncompleted