.row
  .span2
    %p
  .span8
    .navbar
      .navbar-inner
        %ul.nav
          - c = 1
          - Onboarding.steps.each do |s|
            - if c < @onboarding_step
              - klass = 'completed'
            - elsif c == @onboarding_step
              - klass = 'active'
            - else 
              - klass = ''
            %li{:class => klass}= link_to s.to_s.titleize, onboard_go_to_path(:step => c)
            - c += 1
  .span2
    %p