.onboard{:align => 'center'}
  = render 'onboard/nav'
  .row{:style => 'padding-top: 20px; padding-bottom:30px'}
    .span1
      %p
    .span10 
      %b{:style => 'font-size:35px; line-height: 40px; color:#666666'} And when you are not Hacking or Hustling, you can visit the Water Cooler and hang out with the larger nReduce community.
  .row
    .span2
      %p
    .span8
      = image_tag 'watertutorial.jpg'
  %br/
  %br/
  %br/ 
  = render 'onboard/buttons'