.onboard{:align => 'center'}
  = render 'onboard/nav'
  .row.status_bar{:style => 'padding-top: 20px; padding-bottom:30px'}
    .span9
      .text
        %b{:style => 'font-size:35px; line-height: 40px; color:#666666'} Each week starts with setting a goal, and ends with you posting a progress update.
    .span2
      .button{:align => 'right'}
        = render 'onboard/buttons'
  .row
    .span2
      %p
    .span3
      %h3 Example Goal:
      %br/
      %h1 Make it easier for teams to post their videos by making it an in-browser experience.
    .span1
      %p
    .span4
      %h3 Example Progress Update: 
      %br/
      :plain
        <iframe width="420" height="280" src="http://www.youtube.com/embed/M-ccdMJFD7A" frameborder="0" allowfullscreen></iframe>