.onboard{:align => 'center'}
  = render 'onboard/nav'
  .row.status_bar{:style => 'padding-top: 20px; padding-bottom:30px'}
    .span9
      .title You connect with other startups and privately share your progress with each other.
    .span2
      .button{:align => 'right'}
        = render 'onboard/buttons'
  .row
    .span2
      %p
    .span8
      = image_tag 'teamtutorial.jpg'
  %br/
  %h4 Recomended Group Size : 6-8 Startups
  %br/ 
  %br/  
  %br/  
  %br/  
  %br/  
  %br/  
  %br/ 
  %br/  
  %br/  
  %br/ 