.row.onboard
  .span6
    %h1 nReduce Privacy Policy
    %br/
    = image_tag 'privacy.png'
    %h2 What is private stays private.
    %br/
    %p nReduce companies will share information with you, and they are trusting that you will keep that information secret.
    %br/
    %p Unless explicitly given permission, you are expected to maintain this confidentiality.
    %br/
    %br/
    %center
      %h2 Can they trust you?
      = render :partial => 'buttons'