.onboard{:align => 'center'}
  = render 'onboard/nav'

  %h1 Your Teams
  %br/
  .right= button_to 'Next', onboard_next_path, :method => :post, :class => 'btn btn-success btn-large'
  .left
    This is what you do
  .clear

  Content

  .buttons
    = button_to 'Next', onboard_next_path, :method => :post, :class => 'btn btn-success btn-large'