.onboard{:align => 'center'}
  = render 'onboard/nav'
  .row{:style => 'padding-top: 50px; padding-bottom:60px'}
    .span2
      %p
    .span8 
      %h1 In nReduce You connect with other startups and privately share you progress.
  .row
    .span2
      %p
    .span8
      = image_tag 'teamtutorial.png'
  %br/
  %br/
  %br/  

  = render 'onboard/buttons'