.onboard{:align => 'center'}
  = render 'onboard/nav'
  .row.status_bar{:style => 'padding-top: 20px; padding-bottom:30px'}
    .span9
      .title To start we connect you with 6 startups who are also joining now.  You can then connect with other teams.
    .span2
      .button{:align => 'right'}
        = render 'onboard/buttons'
  .row
    .span8.offset2
      = image_tag 'addtutorial.jpg'
      %h2 To see other teams on nReduce, simply click the Add Teams Button.
  %br/ 
  %br/  
  %br/  
  %br/  
  %br/  
  %br/  
  %br/ 
  %br/  
  %br/  
  %br/ 