.row.onboard
  .span6
    %h1 You connect up with other Startups.
    %br/
    = image_tag 'connecting.png'
    %h2 Connecting with a startup means that you will share your weekly progress with each other. 
    %br/
    %h2 You can invite startups you know to join and or connect with a startup in the global nReduce community. 
    %br/
    %br/
    %center
      %h2 Does that make sense?
      = render :partial => 'buttons'