.onboard{:align => 'center'}
  = render 'onboard/nav'
  .row.status_bar{:style => 'padding-top: 20px; padding-bottom:30px'}
    .span9
      .title Each week the teams you are connected to give feedback to you and you give feedback to them.
    .span2
      .button{:align => 'right'}
        = render 'onboard/buttons'
  .row
    .span8.offset2
      = image_tag 'fbacktutorial.jpg'
  %br/ 
  %br/  
  %br/  
  %br/  
  %br/  
  %br/  
  %br/ 
  %br/  
  %br/  
  %br/ 