.onboard{:align => 'center'}
  = render 'onboard/nav'
  .row{:style => 'padding-top: 20px; padding-bottom:30px'}
    .span1
      %p
    .span10 
      %b{:style => 'font-size:35px; line-height: 40px; color:#666666'} Each week the teams you are connected to give feedback to you and you give feedback to them.
  .row
    .span2
      %p
    .span8
      = image_tag 'fbacktutorial.jpg'
  %br/
  %br/
  %br/  
  = render 'onboard/buttons'