.row.onboard
  .span6
    %br
    %br
    %h1 Okay, so what can I expect as a mentor?
    %br
    %h2 1) You share your knowledge
    %br
    %p It is very valuable for startups to have a way of learning from the experience of others.  We hope that with your experience you can share some of your knowledge with your startups.
    %br 
    %h2 2) You give feedback 
    %br
    %p Check out what the startups are working on each week and provide help / feedback.
    %br
    %center
      %br
      %h2 Make sense?
      = render :partial => 'buttons'