.row.onboard
  .span6
    %h1 nReduce Weekly Schedule
    %br/
    - if current_user.entrepreneur?
      %h2 1) Set a goal for the week.
    - else
      %h2 1) Startup team sets a goal for the week.
    %br/
    %p We believe it is best when teams can come together and decided on a single focus.  We know that this can be difficult, but not doing this can lead to problems in the long term.
    %br/
    - if current_user.entrepreneur?
      %h2 2) Every Wednesday upload a "before" video by 12pm PST (GMT - 8).
      %p Videos should be no more than 30 seconds. They can be screen captures, shot from mobile phones, anything that really documents what you are starting with. It is great if you can narrate it so that people can better understand your current product.
    - else
      %h2 2) Every Wednesday the team uploads a "before" video by 12pm PST (GMT - 8).
      %p Videos document what the team is starting with that week, and what they want to accomplish.
    %br/
    - if current_user.entrepreneur?
      %h2 3) The following Tuesday upload an "after" video by 4pm PST (GMT - 8).
      %p Videos should be no more than 2 minutes. They can be screen captures, shot from mobile phones, anything that really documents what you built, accomplished, or struggled with. It is great if you can narrate it so that people can better understand your process.
    - else
      %h2 3) The following Tuesday the team uploads an "after" video by 4pm PST (GMT - 8).
      %p Video can be a screen capture, shot from a mobile phone, anything that documents what the team built, accomplished, or struggled with.
    %br/
    %br/
    .center
      %h2 Make sense?
      = render :partial => 'buttons'