.row.onboard
  .span3
    %p
  .span6
    %br
    %center
      %h1 Welcome to nReduce!
      %br
      :plain
        <iframe width="500" height="315" src="http://www.youtube.com/embed/nH_rdw5x6Ss" frameborder="0" allowfullscreen></iframe>
      %br
      %br
      %h2 Ready to learn more?
      %br 
      .buttons
        = button_to 'Continue', onboard_next_path, :method => :post, :class => 'btn btn-success btn-large'
  .span3
    &nbsp;
