.onboard{:align => 'center'}
  = render 'onboard/nav'
  .row{:style => 'padding-top: 50px; padding-bottom:60px'}
    .span2
      %p
    .span8 
      %h1 To get you started we connect you with 6 startups who are joining at the same time as you.
  .row
    .span2
      %p
    .span8
      = image_tag 'addtutorial.png'
      %h2 You can add or remove teams to your group at any time.
      %h2 To see other teams on nReduce, simply click the Add Teams Button.
  %br/
  %br/
  %br/ 
  = render 'onboard/buttons'