.onboard{:align => 'center'}
  = render 'onboard/nav'
  
  .row{:style => 'padding-top: 20px; padding-bottom:0px'}
    .span1
      %p
    .span10
      %br/
      %br/
      %b{:style => 'font-size:35px; line-height: 40px; color:#666666'} Welcome to nReduce!
      %br/
      %br/
      %br/
      %br/
      %h2 We are going to take you on a quick tour so you get the most out of your nReduce experience.
      %br/
      %br/
      = image_tag 'welcometutorial.jpg'
      %br/  
      %h2 When you are ready, click the Continue button to get started.
    .span2
  .clear
  = render 'onboard/buttons'